{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}






    <section class="inner-intro bg bg-fixed bg-overlay-black-60" style="background-image:url(http://hintergrundbild.org/wallpaper/full/8/0/9/51232-full-size-hintergrundbilder-full-hd-fuer-windows-10-2560x1440-fuer-windows.jpg);">
        <div class="container">
            <div class="row intro-title text-center">
                <div class="col-md-12">
                    <div class="section-title">
                        <div>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <h1 class="position-relative divider"> {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                    <a href="{{ path('fos_user_security_logout') }}" style="color: #0b0b0b">
                                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                    </a>
                                    <span class="sub-title">login</span></h1>

                            {% else %}

                                <a href="{{ path('fos_user_security_login') }}">
                                    <h1 class="position-relative divider"> <span class="sub-title">Se Connecter</span></h1>
                                </a>
                            {% endif %}
                        </div>

                    </div>
                </div>
                <div class="col-md-12 mt-7">
                    <ul class="page-breadcrumb">
                        <li><a href="index-default.html"><i class="fa fa-home"></i> Accueil</a> <i class="fa fa-angle-double-right"></i></li>

                        <li><span>Se Connecter</span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <section class="login-form login-img dark-bg page-section-ptb100 " style="background: url(images/pattern/04.png) no-repeat 0 0; background-size: cover;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="login-1-form clearfix text-center">
                        <h4 class="title divider-3 text-white">se connecter</h4>
                        <div class="login-1-social mt-5 mb-5 text-center clearfix">
                            <ul class="list-inline text-capitalize">
                                <li><a class="fb" href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                                <li><a class="gplus" href="#"><i class="fa fa-google-plus"></i> google+</a></li>
                            </ul>
                        </div>
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            {% if csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            {% endif %}
                        <div class="section-field mb-2">
                            <div class="field-widget"> <i class="glyph-icon flaticon-user"></i>

                                <input type="text" id="username" name="_username" class="web" value="{{ last_username }}" required="required"  />

                            </div>
                        </div>
                        <div class="section-field mb-1">
                            <div class="field-widget"> <i class="glyph-icon flaticon-padlock"></i>
                                <input type="password" id="password" name="_password" required="required" class="Password" autocomplete="current-password" />

                            </div>
                        </div>
                        <div class="section-field text-uppercase"> <a href="#" class="float-right text-white">Mot de passe oublié?</a> </div>
                        <div class="clearfix"></div>
                        <div class="section-field text-uppercase text-center mt-2">
                            <input type="submit"  value="Valider" class="button  btn-lg btn-theme full-rounded animated right-icn">
                             </div>

                        <div class="clearfix"></div>
                        <div class="section-field mt-2 text-center text-white">
                            <p class="lead mb-0">Vous n'avez pas de compte?  <br><a class="text-white" href="{{path('user_registration')}}"><u>Inscrire maintenant!</u> </a></p>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--=================================
     login-->


