{% extends 'layout-profile/base.html.twig' %}

{% block title %}AbonnementGratuitController!{% endblock %}
{% block header %}
    {{ parent() }}
    {%  block breadcome %}
        <div class="breadcome-area" style="margin: 3% 1% -3%;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcome-list">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="breadcomb-wp">
                                        <div class="breadcomb-icon">
                                            <div class="profile-dtl">
                                                <a href="#">  {% for photo in photos %}
                                                        {% if photo.defaultImg == 1 %}
                                                            {% set img="/images" %}
                                                            <img src="{{ img }}{{asset(photo.path)  }}" alt="" />
                                                        {% endif %}
                                                    {% endfor %}</a>

                                            </div>
                                        </div>
                                        <div class="breadcomb-ctn">
                                            <h2>Compte</h2>
                                            <p> Bienvenu <strong>{{app.user.nom}} {{app.user.prenom}} </strong>chez votre espace </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="breadcomb-report">
                                        <button data-toggle="tooltip" data-placement="left" title="" class="btn" data-original-title="Download Report"><i class="icon nalika-download"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
{% block body %}

    <style>
        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
            padding: 13px 1px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #f3f3f3;
        }
        .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
            background-color: #24365a;
            opacity: 1;
        }
    </style>
    <div class="example-wrapper" style="margin-top:50px;min-height: 89vh">

        <div class="mailbox-area mg-tb-15">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-9 col-md-9 col-sm-9 col-xs-12">
                        <div class="hpanel mg-b-15">

                            <div class="panel-body" style="    padding: 7% 17%;background: #ffbc06;">

                                <div class="">
                                    <div class="text-center ps-recovered">
                                        <h3 style="color: white">Paramètres du compte</h3>
                                        <p>Veuillez remplir le formulaire pour modifier votre compte</p>
                                    </div>
                                    <div class="hpanel">
                                        <div class="panel-body poss-recover">
                                            <p>
                                                Entrez votre adresse e-mail et votre mot de passe
                                            </p>
                                            <form action="{{path('modif_compte')}}" id="loginForm" method="post">
                                                <div class="form-group">
                                                    <label class="control-label" for="email">Email</label>
                                                    <input type="email"  value="{{ app.user.email }}" name="email" id="email" class="form-control" readonly>

                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label" for="email">Pseudo</label>
                                                    <input type="text"  value="{{ app.user.username }}" name="username" id="username" class="form-control" >

                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label" for="email">Nom</label>
                                                    <input type="text"  value="{{ app.user.nom }}" name="nom" id="nom" class="form-control" >

                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label" for="email">Prénom</label>
                                                    <input type="text"  value="{{ app.user.prenom }}" name="prenom" id="prenom" class="form-control" >

                                                </div>


                                                <div class="form-group">
                                                    <label class="control-label" for="username">Noveau mot de passe</label>
                                                    <input type="password"  title="Please enter your password" required=""  name="password" id="password" class="form-control">

                                                </div>
                                                <input type="submit" value="Enregistrer" class="btn btn-success btn-block" >


                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="panel-footer">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="hpanel responsive-mg-b-30">
                            <div class="admin-content analysis-progrebar-ctn res-mg-t-30 mg-b-30">
                                <h4 class="text-left text-uppercase"><b>Popularité</b></h4>
                                <div class="row vertical-center-box vertical-center-box-tablet">
                                    <div class="text-left col-xs-3 mar-bot-15">
                                        <label class="label bg-red">15% <i class="fa fa-level-down" aria-hidden="true"></i></label>
                                    </div>
                                    <div class="col-xs-9 cus-gh-hd-pro">
                                        <h2 class="text-right no-margin">5,000</h2>
                                    </div>
                                </div>
                                <div class="progress progress-mini">
                                    <div style="width: 38%;" class="progress-bar progress-bar-danger bg-red"></div>
                                </div>
                            </div>

                        </div>

                        <div class="white-box analytics-info-cs mg-b-30 res-mg-t-30">
                            <h3 class="box-title">Total Visit</h3>
                            <ul class="list-inline two-part-sp">
                                <li>
                                    <div id="sparklinedash"><canvas width="67" height="30" style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas></div>
                                </li>
                                <li class="text-right sp-cn-r"><i class="fa fa-level-up" aria-hidden="true"></i> <span class="counter sales-sts-ctn">8659</span></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
