{% extends 'layout-profile/base.html.twig' %}

{% block title %}AbonnementGratuitController!{% endblock %}
{% block header %}
    {{ parent() }}
    {%  block breadcome %}
        <div class="breadcome-area" style="margin: 3% 1% -3%;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcome-list">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="breadcomb-wp">
                                        <div class="breadcomb-icon">
                                            <div class="profile-dtl">

                                                    {% for photo in medias %}
                                                        {% set img="/images" %}
                                                        {% if photo.defaultImg == 1 %}

                                                            <img src="{{ img }}{{asset(photo.path)  }}" alt="" />
                                                        {% endif %}
                                                    {% endfor %}

                                            </div>
                                        </div>
                                        <div class="breadcomb-ctn">
                                            <h2>Detail Profile</h2>
                                            <p> <strong>{{user.nom}} {{user.prenom}} </strong> </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="breadcomb-report">
                                        <button data-toggle="tooltip" data-placement="left" title="" class="btn" data-original-title="Download Report"><i class="icon nalika-download"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
{% block body %}

    <style>
        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
            padding: 13px 1px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #f3f3f3;
        }
        .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
            background-color: #24365a;
            opacity: 1;
        }
    </style>
    <div class="example-wrapper" style="margin-top:50px;min-height: 89vh">

        <div class="mailbox-area mg-tb-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="single-product-pr">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                    <div id="myTabContent1" class="tab-content">
                                        {% for photo in medias %}
                                            {% set img="/images" %}
                                            {% if photo.defaultImg == 1 %}

                                                <div class="product-tab-list tab-pane fade active in" id="single-tab1">
                                                    <img src="{{ img }}{{asset(photo.path)  }}" alt="" style="    width: 88%;">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="single-product-details res-pro-tb">
                                        <h1>{{ user.nom }} {{ user.prenom }}</h1>

                                        <div class="single-pro-price">
                                            <span class="single-regular">{% if user.birthday !=null %}
                                            {% set age = "now"|date('Y') - user.birthday|date('Y') %}
                                            {{ age }} ans
                                        {% endif %}</span>
                                        </div>
                                        <div class="single-pro-price">

                                            <span class="single-regular">
                                                <h4>Pays: <span>{% if user.pays != null %}
                                                    {{user.pays.name}}
                                                {% endif %}</span></h4>
                                            </span>
                                            <span class="single-regular">
                                                <h4>Emploi: <span>{% if user.profession != null %}
                                                    {{user.profession.name}}
                                                {% endif %}</span></h4>
                                           </span>

                                            <span class="single-regular">
                                                <h4>Situation: <span>{% if user.situation != null %}
                                                    {{user.situation.name}}
                                                {% endif %}</span></h4>
                                           </span>

                                            <span class="single-regular">
                                                <h4>Interressé par: <span>
                                                        {% if user.lookingfor == 1 %}
                                                           Homme
                                                        {% elseif user.lookingfor == 2 %}
                                                            Femme
                                                        {% endif %}

                                                    </span></h4>
                                            </span>
                                        </div>

                                        <div class="single-pro-cn">
                                            <h3>A propos</h3>
                                            <p>{{user.description}} </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
