{% extends 'layout-profile/base.html.twig' %}

{% block title %}AbonnementGratuitController!{% endblock %}
{% block header %}
    {{ parent() }}
    {%  block breadcome %}
      {#  <div class="breadcome-area" style="margin: 3% 1% -3%;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcome-list">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="breadcomb-wp">
                                        <div class="breadcomb-icon">
                                            <div class="profile-dtl">
                                                <a href="#">  {% for photo in photos %}
                                                        {% if photo.defaultImg == 1 %}
                                                            {% set img="/images" %}
                                                            <img src="{{ img }}{{asset(photo.path)  }}" alt="" />
                                                        {% endif %}
                                                    {% endfor %}</a>

                                            </div>
                                        </div>
                                        <div class="breadcomb-ctn">
                                            <h2>Parcourir</h2>
                                            <p> Bienvenu <strong>{{app.user.nom}} {{app.user.prenom}} </strong>chez votre espace </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="breadcomb-report">
                                        <button data-toggle="tooltip" data-placement="left" title="" class="btn" data-original-title="Download Report"><i class="icon nalika-download"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>#}
    {% endblock %}
{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('filter/css/reset.css') }}"> <!-- CSS reset -->
    <link rel="stylesheet" href="{{ asset('filter/css/style.css') }}"> <!-- Resource style -->
    <script src="{{ asset('filter/js/modernizr.js') }}"></script> <!-- Modernizr -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <!------ Carousel ---------->

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    {#  <link rel="stylesheet" href="{{ asset('css/app.min.css') }}">#}
    <style>
        .btn-small {
            background: #ffbc06;
        }
        .single-new-trend{
            padding: 4px;
        }
        .single-new-trend img, .single-new-trend img {
            width: 100%;
            height:auto;
            max-height: 230px;
        }
        .product-action a {
            border: 2px solid #ddd;
            color: #ffbc06;
        }
        .selectgroup-button {
            border: 1px solid rgb(255, 255, 255);
            color: #fff;}
        .form-control {
            display: block;
            width: 117%;
        }
        .cd-filter-trigger {

            color: #ffffff;
        }
        .cd-tab-filter a {
            color: #ffffff;}
        .cd-tab-filter a.selected {

            color: #ffbc06;
            box-shadow: inset 0 -2px 0 #ffbc06;
        }
        .no-touch .cd-tab-filter a:hover {
            color: #dd6102;
        }
        .cd-filter-block .checkbox-label::after {

            margin-left: -24px;

        }
        /* Slider */

        .slick-slide {
            margin: 0px 20px;
        }

        .slick-slide img {
            width: 80%;
        }

        .slick-slider
        {
            position: relative;
            display: block;
            box-sizing: border-box;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-touch-callout: none;
            -khtml-user-select: none;
            -ms-touch-action: pan-y;
            touch-action: pan-y;
            -webkit-tap-highlight-color: transparent;
        }

        .slick-list
        {
            position: relative;
            display: block;
            overflow: hidden;
            margin: 0;
            padding: 0;
        }
        .slick-list:focus
        {
            outline: none;
        }
        .slick-list.dragging
        {
            cursor: pointer;
            cursor: hand;
        }

        .slick-slider .slick-track,
        .slick-slider .slick-list
        {
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        .slick-track
        {
            position: relative;
            top: 0;
            left: 0;
            display: block;
        }
        .slick-track:before,
        .slick-track:after
        {
            display: table;
            content: '';
        }
        .slick-track:after
        {
            clear: both;
        }
        .slick-loading .slick-track
        {
            visibility: hidden;
        }

        .slick-slide
        {
            display: none;
            float: left;
            height: 100%;
            min-height: 1px;
        }
        [dir='rtl'] .slick-slide
        {
            float: right;
        }
        .slick-slide img
        {
            display: block;
            margin: 6px;
            border-radius: 50%;
            border:2px solid #fff;
            box-shadow: 6px 4px 3px;
            height: 110px;

        }
        .slick-slide.slick-loading img
        {
            display: none;
        }
        .slick-slide.dragging img
        {
            pointer-events: none;
        }
        .slick-initialized .slick-slide
        {
            display: block;
        }
        .slick-loading .slick-slide
        {
            visibility: hidden;
        }
        .slick-vertical .slick-slide
        {
            display: block;
            height: auto;
            border: 1px solid transparent;
        }
        .slick-arrow.slick-hidden {
            display: none;
        }

    </style>


    <div class="example-wrapper" style="margin-top:50px;min-height: 89vh">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
        <div class="breadcome-list" style="background: #bf590a;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcomb-ctn">
                            <h2 style="text-decoration: underline; font-weight: bold">Projecteur : </h2>
                        </div>
                        <section class="customer-logos slider">
                            {% for user in pagination %}
                                <div class="slide col-1"><a href="{{path('detail_user',{'id':user.id})}}">
                                        {% for photo in medias %}
                                            {% if photo.user.id == user.id %}
                                                {% set img="/images" %}
                                                <img src="{{ img }}{{asset(photo.path)  }}" alt="">
                                            {% endif %}
                                        {% endfor %}
                                    </a></div>
                            {% endfor %}
                        </section>
                </div>

            </div>
        </div>

       <main class="cd-main-content">
            <div class="cd-tab-filter-wrapper">
                <div class="cd-tab-filter" style="background: #13110f;">
                    <ul class="cd-filters">
                        <li class="placeholder">
                            <a data-type="all" href="#0">All</a> <!-- selected option on mobile -->
                        </li>

                        <li class="filter"><a class="selected" href="#0" data-type="all">All</a></li>
                        {% for genre in genres %}
                        <li class="filter" data-filter=".color-{{genre.id}}"><a href="#0" data-type="color-{{genre.id}}">{{genre.name}}</a></li>
                        {% endfor %}

                    </ul> <!-- cd-filters -->
                </div> <!-- cd-tab-filter -->
            </div> <!-- cd-tab-filter-wrapper -->

            <section class="cd-gallery filter-is-visible">
                <ul>


                        {% for user in users %}
                    <li class="mix color-{{user.gender.id}} check{{user.situation.id}} radio{{user.gender.id}} option{{ user.pays.id }}">
                                <div class="single-new-trend">
                                    <a href="{{path('detail_user',{'id':user.id})}}">
                                            {% for photo in medias %}
                                            {% if photo.user.id == user.id %}
                                             {% set img="/images" %}
                                        <img src="{{ img }}{{asset(photo.path)  }}" alt="">
                                            {% endif %}
                                            {% endfor %}
                                    </a>
                                    <div class="overlay-content">

                                        <a href="#" class="btn-small"> {% if user.birthday !=null %}
                                                {% set age = "now"|date('Y') - user.birthday|date('Y') %}
                                                {{ age }} ans
                                            {% endif %}</a>

                                        <a class="pro-tlt" href="#">
                                            <h4>{{ user.nom }} {{ user.prenom }}</h4>
                                        </a>

                                    </div>
                                </div>
                    </li>
                        {% endfor %}


                    <li class="gap"></li>
                    <li class="gap"></li>
                    <li class="gap"></li>
                </ul>

                <div class="cd-fail-message">No results found</div>

            </section> <!-- cd-gallery -->

            <div class="cd-filter filter-is-visible">
                <form>

                    <div class="cd-filter-block">
                        <h4>Je cherche</h4>

                        <ul class="cd-filter-content cd-filters list">
                            <li>
                                <input class="filter" data-filter="" type="radio" name="radioButton" id="radio1" checked>
                                <label class="radio-label" for="radio1">All</label>
                            </li>
                        {% for genre in genres %}
                            <li>
                                <input class="filter" data-filter=".radio{{genre.id}}" type="radio" name="radioButton" id="radio{{genre.id}}">
                                <label class="radio-label" for="radio{{genre.id}}">{{genre.name}}</label>
                            </li>
                        {% endfor %}

                        </ul> <!-- cd-filter-content -->
                    </div> <!-- cd-filter-block -->

                    <div class="cd-filter-block">
                        <h4>Situation</h4>

                        <ul class="cd-filter-content cd-filters list">
                            {% for statut in situations %}
                                <li>
                                    <input class="filter" data-filter=".check{{statut.id}}" type="checkbox" id="checkbox{{statut.id}}">
                                    <label class="checkbox-label" for="checkbox{{statut.id}}">{{statut.name}}</label>
                                </li>
                            {% endfor %}

                        </ul> <!-- cd-filter-content -->
                    </div> <!-- cd-filter-block -->

                    <div class="cd-filter-block">
                        <h4>Localisé</h4>

                        <div class="cd-filter-content">
                            <div class="cd-select cd-filters">
                                <select class="filter" name="selectThis" id="selectThis">
                                    <option value="">Choisir un pays</option>
                                    {% for pay in pays %}
                                  <option value=".option{{pay.id}}">{{pay.name}}</option>
                                    {% endfor %}

                                </select>
                            </div> <!-- cd-select -->
                        </div> <!-- cd-filter-content -->
                    </div> <!-- cd-filter-block -->

               </form>

                <a href="#0" class="cd-close">Close</a>
            </div> <!-- cd-filter -->

            <a href="#0" class="cd-filter-trigger">Filters</a>
        </main> <!-- cd-main-content -->

    </div>
    <div class="navigation" style="margin-left: 5%">
        {{ knp_pagination_render(users) }}
    </div>
    <script language="javascript">
        $(document).ready(function(){
            $('.customer-logos').slick({
                slidesToShow: 6,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 1500,
                arrows: false,
                dots: false,
                pauseOnHover: false,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 4
                    }
                }, {
                    breakpoint: 520,
                    settings: {
                        slidesToShow: 3
                    }
                }]
            });
        });
    </script>
    <script src="{{ asset('filter/js/jquery.mixitup.min.js') }}"></script>
    <script src="{{ asset('filter/js/main.js') }}"></script> <!-- Resource jQuery -->
{% endblock %}
