<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Profile{% endblock %}</title>
    {% block stylesheets %}
    <!-- favicon
            ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{{asset('profile/css/bootstrap.min.css')}}">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{{asset('profile/css/font-awesome.min.css')}}">
    <!-- nalika Icon CSS
        ============================================ -->
    <link rel="stylesheet" href="{{asset('profile/css/nalika-icon.css')}}">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="{{asset('profile/css/owl.carousel.css')}}">
    <link rel="stylesheet" href="{{asset('profile/css/owl.theme.css')}}">
    <link rel="stylesheet" href="{{asset('profile/css/owl.transitions.css')}}">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="{{asset('profile/css/animate.css')}}">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="{{asset('profile/css/normalize.css')}}">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="{{asset('profile/css/meanmenu.min.css')}}">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="{{asset('profile/css/main.css')}}">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="{{asset('profile/css/morrisjs/morris.css')}}">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="{{asset('profile/css/scrollbar/jquery.mCustomScrollbar.min.css')}}">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="{{asset('profile/css/metisMenu/metisMenu.min.css')}}">
    <link rel="stylesheet" href="{{asset('profile/css/metisMenu/metisMenu-vertical.css')}}">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="{{asset('profile/css/calendar/fullcalendar.min.css')}}">
    <link rel="stylesheet" href="{{asset('profile/css/calendar/fullcalendar.print.min.css')}}">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="{{asset('profile/style.css')}}">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="{{asset('profile/css/responsive.css')}}">
    <link rel="stylesheet" href="{{asset('profile/css/form/all-type-forms.css')}}">


        <!-- modernizr JS
            ============================================ -->
        <script src="{{asset('profile/js/vendor/jquery-1.12.4.min.js') }}"></script>
        <!-- bootstrap JS
            ============================================ -->
        <script src="{{asset('profile/js/bootstrap.min.js') }}"></script>
    <script src="{{asset('profile/js/vendor/modernizr-2.8.3.min.js') }}"></script>
    {% endblock %}


</head>
<body>
<style>
    .message-single-top h1, .notification-single-top h1
    {
        border-bottom: 1px solid #ffbc06;
    }
</style>
{% include'layout-profile/sidebar.html.twig' %}
{# body block #}
<div class="all-content-wrapper">
    {% block header %}
    {% include'layout-profile/header.html.twig' %}
    {% endblock %}
{% block body %}



{% endblock %}
{% include'layout-profile/footer.html.twig' %}
</div>



{% block javascripts %}
    <!-- jquery
           ============================================ -->

    <!-- wow JS
		============================================ -->
    <script src="{{asset('profile/js/wow.min.js') }}"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="{{asset('profile/js/jquery-price-slider.js') }}"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="{{asset('profile/js/jquery.meanmenu.js') }}"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="{{asset('profile/js/owl.carousel.min.js') }}"></script>
    <!-- sticky JS
		============================================ -->
    <script src="{{asset('profile/js/jquery.sticky.js') }}"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="{{asset('profile/js/jquery.scrollUp.min.js') }}"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="{{asset('profile/js/scrollbar/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src="{{asset('profile/js/scrollbar/mCustomScrollbar-active.js') }}"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="{{asset('profile/js/metisMenu/metisMenu.min.js') }}"></script>
    <script src="{{asset('profile/js/metisMenu/metisMenu-active.js') }}"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="{{asset('profile/js/sparkline/jquery.sparkline.min.js') }}"></script>
    <script src="{{asset('profile/js/sparkline/jquery.charts-sparkline.js') }}"></script>
    <!-- calendar JS
		============================================ -->
    <script src="{{asset('profile/js/calendar/moment.min.js') }}"></script>
    <script src="{{asset('profile/js/calendar/fullcalendar.min.js') }}"></script>
    <script src="{{asset('profile/js/calendar/fullcalendar-active.js') }}"></script>
    <!-- float JS
        ============================================ -->
    <script src="{{asset('profile/js/flot/jquery.flot.js') }}"></script>
    <script src="{{asset('profile/js/flot/jquery.flot.resize.js') }}"></script>
    <script src="{{asset('profile/js/flot/curvedLines.js') }}"></script>
    <script src="{{asset('profile/js/flot/flot-active.js') }}"></script>
    <!-- plugins JS
		============================================ -->
    <script src="{{asset('profile/js/plugins.js') }}"></script>
    <!-- main JS
		============================================ -->
    <script src="{{asset('profile/js/main.js') }}"></script>

{% endblock %}
</body>
</html>
