<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="logo-pro">
                <a href="index.html"><img class="main-logo" src="{{ asset('profile/img/logo/logo.png') }}" alt="" /></a>
            </div>
        </div>
    </div>
</div>
<div class="header-advance-area">
    <div class="header-top-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="header-top-wraper">
                        <div class="row">
                            <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                <div class="menu-switcher-pro">
                                    <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                        <i class="icon nalika-menu-task"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                <div class="header-top-menu tabl-d-n hd-search-rp">
                                    <div class="breadcome-heading">
                                        <form role="search" class="">
                                            <input type="text" placeholder="Search..." class="form-control">
                                            <a href=""><i class="fa fa-search"></i></a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                <div class="header-right-info">
                                    <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                        <li class="nav-item dropdown">
                                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="icon nalika-mail" aria-hidden="true"></i><span class="indicator-ms"></span></a>
                                            <div role="menu" class="author-message-top dropdown-menu animated zoomIn">
                                                <div class="message-single-top">
                                                    <h1>Message</h1>
                                                </div>
                                                <ul class="message-menu">
                                                    <li>
                                                        <a href="#">
                                                            <div class="message-img">
                                                                <img src="{{ asset('profile/img/contact/1.jpg') }}" alt="">
                                                            </div>
                                                            <div class="message-content">
                                                                <span class="message-date">16 Sept</span>
                                                                <h2>Advanda Cro</h2>
                                                                <p>Please done this project as soon possible.</p>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <div class="message-img">
                                                                <img src="{{ asset('profile/img/contact/4.jpg') }}" alt="">
                                                            </div>
                                                            <div class="message-content">
                                                                <span class="message-date">16 Sept</span>
                                                                <h2>Sulaiman din</h2>
                                                                <p>Please done this project as soon possible.</p>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <div class="message-img">
                                                                <img src="{{ asset('profile/img/contact/3.jpg') }}" alt="">
                                                            </div>
                                                            <div class="message-content">
                                                                <span class="message-date">16 Sept</span>
                                                                <h2>Victor Jara</h2>
                                                                <p>Please done this project as soon possible.</p>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <div class="message-img">
                                                                <img src="{{ asset('profile/img/contact/2.jpg') }}" alt="">
                                                            </div>
                                                            <div class="message-content">
                                                                <span class="message-date">16 Sept</span>
                                                                <h2>Victor Jara</h2>
                                                                <p>Please done this project as soon possible.</p>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div class="message-view">
                                                    <a href="#">View All Messages</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="icon nalika-alarm" aria-hidden="true"></i><span class="indicator-nt"></span></a>
                                            <div role="menu" class="notification-author dropdown-menu animated zoomIn">
                                                <div class="notification-single-top">
                                                    <h1>Notifications</h1>
                                                </div>
                                                <ul class="notification-menu">
                                                    <li>
                                                        <a href="#">
                                                            <div class="notification-icon">
                                                                <i class="icon nalika-tick" aria-hidden="true"></i>
                                                            </div>
                                                            <div class="notification-content">
                                                                <span class="notification-date">16 Sept</span>
                                                                <h2>Advanda Cro</h2>
                                                                <p>Please done this project as soon possible.</p>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <div class="notification-icon">
                                                                <i class="icon nalika-cloud" aria-hidden="true"></i>
                                                            </div>
                                                            <div class="notification-content">
                                                                <span class="notification-date">16 Sept</span>
                                                                <h2>Sulaiman din</h2>
                                                                <p>Please done this project as soon possible.</p>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <div class="notification-icon">
                                                                <i class="icon nalika-folder" aria-hidden="true"></i>
                                                            </div>
                                                            <div class="notification-content">
                                                                <span class="notification-date">16 Sept</span>
                                                                <h2>Victor Jara</h2>
                                                                <p>Please done this project as soon possible.</p>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <div class="notification-icon">
                                                                <i class="icon nalika-bar-chart" aria-hidden="true"></i>
                                                            </div>
                                                            <div class="notification-content">
                                                                <span class="notification-date">16 Sept</span>
                                                                <h2>Victor Jara</h2>
                                                                <p>Please done this project as soon possible.</p>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div class="notification-view">
                                                    <a href="#">View All Notification</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa fa-money" aria-hidden="true"></i><span class="indicator-nt"></span></a>
                                            <div role="menu" class="notification-author dropdown-menu animated zoomIn">
                                                    {{ render(controller('App\\Controller\\AbonnementTroismoisController::credit' )) }}
                                            </div>

                                        </li>
                                        <li class="nav-item">
                                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                <i class="icon nalika-user"></i>
                                                <span class="admin-name">{{app.user.username}}</span>
                                                <i class="icon nalika-down-arrow nalika-angle-dw"></i>
                                            </a>
                                            <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">

                                                <li><a href="{{path('abonnement_gratuit')}}"><span class="icon nalika-user author-log-ic"></span> Profile</a>
                                                </li>

                                                <li><a href="{{path('gratuit_compte')}}"><span class="icon nalika-settings author-log-ic"></span> Parametre</a>
                                                </li>
                                                {% if is_granted('ROLE_UNMOIS') %}
                                                <li>
                                                    <a href="{{ path('demote_unmois') }}">
                                                        <span class="icon nalika-user author-log-ic"></span> Désabonner</a>
                                                </li>
                                                {% elseif is_granted('ROLE_TROISMOIS') %}
                                                <li>
                                                    <a href="{{ path('demote_troismois') }}">
                                                        <span class="icon nalika-user author-log-ic"></span> Désabonner</a>
                                                </li>
                                                {% endif %}
                                                <li><a href="{{ path('fos_user_security_logout') }}">
                                                        <span class="icon nalika-unlocked author-log-ic"></span> Déconnexion</a>
                                                </li>
                                            </ul>
                                        </li>
                                   </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul class="mobile-menu-nav">
                                <li><a data-toggle="collapse" data-target="#Charts" href="#">Profile <span class="admin-project-icon nalika-icon nalika-down-arrow"></span></a>
                                    <ul class="collapse dropdown-header-top">
                                        {% if is_granted('ROLE_USER') and is_granted('ROLE_UNMOIS') %}
                                            <li><a title="Profile" href="{{path('abonnement_unmois')}}"><span class="mini-sub-pro">Detail profile</span></a></li>
                                        {% elseif is_granted('ROLE_USER') and is_granted('ROLE_TROISMOIS') %}
                                            <li><a title="Profile" href="{{path('abonnement_troismois')}}"><span class="mini-sub-pro">Detail profile</span></a></li>
                                        {% elseif is_granted('ROLE_USER') and is_granted('ROLE_GRATUIT') %}
                                            <li><a title="Profile" href="{{path('abonnement_gratuit')}}"><span class="mini-sub-pro">Detail profile</span></a></li>
                                        {% endif %}

                                        <li><a title="photos" href="{{path('gratuit_photos')}}"><span class="mini-sub-pro">Photos</span></a></li>
                                        <li><a title="compte" href="{{path('gratuit_compte')}}"> <span class="mini-sub-pro">Compte</span></a></li>

                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#demo" href="{{ path('parcourir_users') }}">Parcourire </a></li>

                                {% if is_granted('ROLE_USER') and is_granted('ROLE_UNMOIS') %}
                                    <li><a data-target="#others" href="#">Connections<span class="admin-project-icon nalika-icon nalika-down-arrow"></span></a>
                                        <ul id="others" class="collapse dropdown-header-top">
                                            <li><a title="Rencontres" href="{{ path('rencontres') }}"><span class="mini-sub-pro">Rencontres </span></a></li>
                                            <li><a title="like-from-you" href="{{ path('like_from_you') }}"><span class="mini-sub-pro">Les gens que vous aimez</span></a></li>
                                            <li><a title="like-to-you" href="{{ path('like_to_you') }}"><span class="mini-sub-pro">Les gens qui vous aiment </span></a></li>
                                            <li><a title="Compose Mail" href=""><span class="mini-sub-pro">Invités </span></a></li>
                                        </ul>
                                    </li>
                                    <li><a data-toggle="collapse" data-target="#Miscellaneousmob" href="#">Messages <span class="admin-project-icon nalika-icon nalika-down-arrow"></span></a>
                                        <ul id="Miscellaneousmob" class="collapse dropdown-header-top">
                                            <li><a title="Inbox" href=""><span class="mini-sub-pro">Reception</span></a></li>
                                            <li><a title="View Mail" href=""><span class="mini-sub-pro">Envoyer</span></a></li>
                                            <li><a title="Compose Mail" href=""><span class="mini-sub-pro">Nouveau</span></a></li>

                                        </ul>
                                    </li>

                                {% elseif is_granted('ROLE_USER') and is_granted('ROLE_TROISMOIS') %}
                                    <li><a data-target="#others" href="#">Connections<span class="admin-project-icon nalika-icon nalika-down-arrow"></span></a>
                                        <ul id="others" class="collapse dropdown-header-top">
                                            <li><a title="Rencontres" href="{{ path('rencontres') }}"><span class="mini-sub-pro">Rencontres </span></a></li>
                                            <li><a title="like-from-you" href="{{ path('like_from_you') }}"><span class="mini-sub-pro">Les gens que vous aimez</span></a></li>
                                            <li><a title="like-to-you" href="{{ path('like_to_you') }}"><span class="mini-sub-pro">Les gens qui vous aiment </span></a></li>
                                            <li><a title="Compose Mail" href=""><span class="mini-sub-pro">Invités </span></a></li>
                                        </ul>
                                    </li>
                                    <li><a data-toggle="collapse" data-target="#Miscellaneousmob" href="#">Messages <span class="admin-project-icon nalika-icon nalika-down-arrow"></span></a>
                                        <ul id="Miscellaneousmob" class="collapse dropdown-header-top">
                                            <li><a title="Inbox" href=""><span class="mini-sub-pro">Reception</span></a></li>
                                            <li><a title="View Mail" href=""><span class="mini-sub-pro">Envoyer</span></a></li>
                                            <li><a title="Compose Mail" href=""><span class="mini-sub-pro">Nouveau</span></a></li>

                                        </ul>
                                    </li>
                                {% endif %}


                                <li><a data-toggle="collapse" data-target="#Chartsmob" href="#">Déconnexion</a></li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%  block breadcome %}
    {% endblock %}
    <!-- Mobile Menu end -->

</div>
