<div class="nalika-profile">
    <div class="profile-dtl">

        <a href="#"><img src="/images{{ asset(photo.path)}}" alt="" /></a>
        <h2>{{app.user.prenom}} <span class="min-dtn">{{app.user.nom}}</span></h2>

    </div>
    <div class="profile-social-dtl">
        <ul class="dtl-social">
            {% if is_granted('ROLE_UNMOIS') %}
                <li><a href="{{path('abonnement_unmois')}}"><i class="icon nalika-user"></i></a></li>
            {% elseif is_granted('ROLE_TROISMOIS') %}
                <li><a href="{{path('abonnement_troismois')}}"><i class="icon nalika-user"></i></a></li>
            {% elseif is_granted('ROLE_USER') %}
                <li><a href="{{path('abonnement_gratuit')}}"><i class="icon nalika-user"></i></a></li>
            {% endif %}

            <li><a href="{{path('gratuit_compte')}}"><i class="icon nalika-settings"></i></a></li>
            <li><a href="#"><i class="icon nalika-unlocked"></i></a></li>

        </ul>
    </div>
</div>