
<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="{{path('abonnement_gratuit')}}"><strong>Application</strong></a>
            <strong>chat</strong>
        </div>
        {{ render(controller(
            'App\\Controller\\AbonnementGratuitController::photoprofile' )) }}

        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li class="active">
                        <a class="has-arrow" href="#">
                            <i class="icon nalika-user icon-wrap"></i><span class="mini-click-non">Profile</span>
                        </a>
                        <ul class="submenu-angle" aria-expanded="true">
                            {% if is_granted('ROLE_USER') and is_granted('ROLE_UNMOIS') %}
                                <li><a title="Profile" href="{{path('abonnement_unmois')}}"><span class="mini-sub-pro">Detail profile</span></a></li>
                            {% elseif is_granted('ROLE_USER') and is_granted('ROLE_TROISMOIS') %}
                                <li><a title="Profile" href="{{path('abonnement_troismois')}}"><span class="mini-sub-pro">Detail profile</span></a></li>
                            {% elseif is_granted('ROLE_USER') %}
                                <li><a title="Profile" href="{{path('abonnement_gratuit')}}"><span class="mini-sub-pro">Detail profile</span></a></li>
                            {% endif %}

                            <li><a title="photos" href="{{path('gratuit_photos')}}"><span class="mini-sub-pro">Photos</span></a></li>
                            <li><a title="compte" href="{{path('gratuit_compte')}}"> <span class="mini-sub-pro">Compte</span></a></li>
                       </ul>
                    </li>

                    <li>
                        <a class="" href="{{ path('parcourir_users') }}" aria-expanded="false"><i class="icon nalika-diamond icon-wrap"></i> <span class="mini-click-non">Parcourire</span></a>
                    </li>
                    {% if is_granted('ROLE_USER') and is_granted('ROLE_UNMOIS') %}
                    <li>
                        <a class="has-arrow" href="" aria-expanded="false"><i class="icon nalika-mail icon-wrap"></i> <span class="mini-click-non">Messages</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="Inbox" href=""><span class="mini-sub-pro">Reception</span></a></li>
                            <li><a title="View Mail" href=""><span class="mini-sub-pro">Envoyer</span></a></li>
                            <li><a title="Compose Mail" href=""><span class="mini-sub-pro">Nouveau</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="" aria-expanded="false"><i class="icon nalika-like icon-wrap"></i> <span class="mini-click-non">Connections</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="Rencontres" href="{{ path('rencontres') }}"><span class="mini-sub-pro">Rencontres </span></a></li>
                            <li><a title="like-from-you" href="{{ path('like_from_you') }}"><span class="mini-sub-pro">Les gens que vous aimez</span></a></li>
                            <li><a title="like-to-you" href="{{ path('like_to_you') }}"><span class="mini-sub-pro">Les gens qui vous aiment </span></a></li>
                            <li><a title="Compose Mail" href=""><span class="mini-sub-pro">Invités </span></a></li>
                        </ul>
                    </li>
                    {% elseif is_granted('ROLE_USER') and is_granted('ROLE_TROISMOIS') %}
                    <li>
                        <a class="has-arrow" href="" aria-expanded="false"><i class="icon nalika-mail icon-wrap"></i> <span class="mini-click-non">Messages</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="Inbox" href=""><span class="mini-sub-pro">Reception</span></a></li>
                            <li><a title="View Mail" href=""><span class="mini-sub-pro">Envoyer</span></a></li>
                            <li><a title="Compose Mail" href=""><span class="mini-sub-pro">Nouveau</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="" aria-expanded="false"><i class="icon nalika-like icon-wrap"></i> <span class="mini-click-non">Connections</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="Rencontres" href="{{ path('rencontres') }}"><span class="mini-sub-pro">Rencontres </span></a></li>
                            <li><a title="like-from-you" href="{{ path('like_from_you') }}"><span class="mini-sub-pro">Les gens que vous aimez</span></a></li>
                            <li><a title="like-to-you" href="{{ path('like_to_you') }}"><span class="mini-sub-pro">Les gens qui vous aiment </span></a></li>
                            <li><a title="Compose Mail" href=""><span class="mini-sub-pro">Invités </span></a></li>
                        </ul>
                    </li>
                    {% endif %}
                    <li>
                        <a class="" href="" aria-expanded="false"><i class="icon nalika-unlocked icon-wrap"></i> <span class="mini-click-non">Déconnexion</span></a>

                    </li>
                    <li>
                        <a class="" href="{{ path('homepage') }}" aria-expanded="false"><i class="icon nalika-home icon-wrap"></i> <span class="mini-click-non">Retour à l'Accueil</span></a>

                    </li>


                </ul>
            </nav>
        </div>
    </nav>
</div>
<!-- Start Welcome area -->