@import url('flaticon.css');
@import url('magnific-popup.css');
@import url('owl.carousel.min.css');
@import url('magnific-popup.css');
@import url('nice-select.css');
@import url('ion.rangeSlider.css');
@import url('ion.rangeSlider.skinFlat.css');
@import url('font-awesome.css');
@import url('animate.min.css');
/* padding for main container */
.owl-carousel .owl-stage-outer {
    padding: 0px 0 !important;
}
.mfp-no-margins .mfp-container {
    padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

p {
    color: #000000;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.667;
}


.overlay:before {
    position: absolute;
    content: "";
    z-index: -1;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.bg-full {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fixed-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.parallax {
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:-1;
}

/* loader */
.loader_wrapper1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4f57f8;
    background: -webkit-linear-gradient(bottom left, #4f57f8 0%, #bf3c91 100%);
    background: -o-linear-gradient(bottom left, #4f57f8 0%, #bf3c91 100%);
    background: linear-gradient(to top right, #4f57f8 0%, #bf3c91 100%);
    z-index: 100000;
    text-align:center;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
}
.loader img {
    width: 100%;
    max-width:80px;
    height: auto;
}

/* ALL LOADERS */

.loader {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin: 0 auto;
}

/* LOADER 1 */

#loader {
    padding: 10px 0 0 10px;
}
#loader:before, #loader:after{
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 5px solid transparent;
    border-top-color: #be3c92;
}

#loader:before{
    z-index: 100;
    animation: spin 1s infinite;
}

#loader:after{
    border: 5px solid #fff;
}

@keyframes spin {
    0%{
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.element-animation{
    animation: animationFrames linear 4s;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames linear 4s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationFrames linear 4s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationFrames linear 4s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationFrames linear 4s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
}

@keyframes animationFrames{
    0% {
        transform:  translate(0px,0px)  rotate(0deg) ;
    }
    100% {
        transform:  translate(200px,0px)  rotate(180deg) ;
    }
}

@-moz-keyframes animationFrames{
    0% {
        -moz-transform:  translate(0px,0px)  rotate(0deg) ;
    }
    100% {
        -moz-transform:  translate(200px,0px)  rotate(180deg) ;
    }
}

@-webkit-keyframes animationFrames {
    0% {
        -webkit-transform:  translate(0px,0px)  rotate(0deg) ;
    }
    100% {
        -webkit-transform:  translate(200px,0px)  rotate(180deg) ;
    }
}

@-o-keyframes animationFrames {
    0% {
        -o-transform:  translate(0px,0px)  rotate(0deg) ;
    }
    100% {
        -o-transform:  translate(200px,0px)  rotate(180deg) ;
    }
}

@-ms-keyframes animationFrames {
    0% {
        -ms-transform:  translate(0px,0px)  rotate(0deg) ;
    }
    100% {
        -ms-transform:  translate(200px,0px)  rotate(180deg) ;
    }
}
/* End loader */

@keyframes pulse_animation {
    0% { transform: translate(-50%,-50%)scale(1); opacity: 1; visibility: visible;}
    50% { transform: translate(-50%,-50%)scale(0.5);opacity: 0.4; visibility: visible;}
    100% { transform: translate(-50%,-50%)scale(0);opacity: 0; visibility: hidden;}
}
@-moz-keyframes pulse_animation{
    0% { -moz-transform: translate(-50%,-50%)scale(1); opacity: 1; visibility: visible;}
    50% { -moz-transform: translate(-50%,-50%)scale(0.5);opacity: 0.4; visibility: visible;}
    100% { -moz-transform: translate(-50%,-50%)scale(0);opacity: 0; visibility: hidden;}
}

@-webkit-keyframes pulse_animation {
    0% { -webkit-transform: translate(-50%,-50%)scale(1); opacity: 1; visibility: visible;}
    50% { -webkit-transform: translate(-50%,-50%)scale(0.5);opacity: 0.4; visibility: visible;}
    100% { -webkit-transform: translate(-50%,-50%)scale(0);opacity: 0; visibility: hidden;}
}

@-o-keyframes pulse_animation {
    0% { -o-transform: translate(-50%,-50%)scale(1); opacity: 1; visibility: visible;}
    50% { -o-transform: translate(-50%,-50%)scale(0.5);opacity: 0.4; visibility: visible;}
    100% { -o-transform: translate(-50%,-50%)scale(0);opacity: 0; visibility: hidden;}
}

@-ms-keyframes pulse_animation {
    0% { -ms-transform: translate(-50%,-50%)scale(1); opacity: 1; visibility: visible;}
    50% { -ms-transform: translate(-50%,-50%)scale(0.5);opacity: 0.4; visibility: visible;}
    100% { -ms-transform: translate(-50%,-50%)scale(0);opacity: 0; visibility: hidden;}
}
/*loader2*/

/* PRELOADER */



.preloaderjs .spinner {
    display: none !important;
}

.loader-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
}

.loader-wrap > span {
    display: block;
}

.preloaderjs#page-preloader {
    background: rgba(46, 46, 46, 0.99) !important;
}
#page-preloader {
    position: fixed;
    z-index: 100500;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: #fff;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.stl2#page-preloader {
    background: #eb2033;
}
.loader-center {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#page-preloader.slide_top {
    border-radius: 50%;
    overflow: hidden;
    animation: pulse_animation linear 400ms;
    transform-origin: 50% 50%;
    -webkit-animation: pulse_animation linear 400ms;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: pulse_animation linear 400ms;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -o-animation: pulse_animation linear 400ms;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -ms-animation: pulse_animation linear 400ms;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    opacity: 0;
    visibility: hidden;
}
/*============== same attr ==============*/
.new-block {
    width: 100%;
    float: left;
    position: relative;
}
.new-block:after {
    content:'';
    display:block;
    clear: both;
}

/*==============================================
06. Banner
==============================================*/

.banner {
    padding: 0;
    overflow: hidden;
}
.slider-block {
    padding: 67px 0;
    min-height: 825px;
    overflow: hidden;
}
.banner.home2 .slider-block {
    min-height: 760px;
}
.banner .owl-theme .owl-nav {
    margin: -1px 0 0 0;
    height: 0;
}
.banner .owl-next, .banner .owl-prev {
    position: absolute;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    background: #000;
}
.banner .owl-nav button.owl-next, .banner .owl-nav button.owl-prev {
    background: #f05151;
    padding:20px !important;
    margin: 0;
    border-radius: 50%;
    color: #fff;
}
.banner .owl-nav button.owl-next:hover, .banner .owl-nav button.owl-prev:hover {
    color: #fff;
}
button.owl-prev:focus,
button.owl-next:focus {
    outline: none;
}
.banner .owl-next {
    right: 30px;
}
.banner .owl-prev {
    left: 30px;
}
.overlay-design {
    width: 80%;
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
}
.banner.home2 .overlay-design.home2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 70px 0;
}
.overlay-design .introducing-block {
    top: -720px;
}
.home2 .overlay-design .introducing-block {
    top: 0px;
}
.slider-block .overlay {
    background: #000;
    opacity: 0.7;
}
.banner .owl-item .slider-block .fixed-bg {
    -webkit-transition: all 15s linear;
    -moz-transition: all 15s linear;
    -ms-transition: all 15s linear;
    -o-transition: all 15s linear;
    transition: all 15s linear;
}
.banner .owl-item.active.center .slider-block .fixed-bg {
    -webkit-transform: scale3d(1.3,1.3,1.3);
    -moz-transform: scale3d(1.3,1.3,1.3);
    -ms-transform: scale3d(1.3,1.3,1.3);
    -o-transform: scale3d(1.3,1.3,1.3);
    transform: scale3d(1.3,1.3,1.3);
}
.banner.home2  .owl-item.active.center .slider-block .fixed-bg {
    -webkit-transform: scale3d(1,1,1);
    -moz-transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}
.banner.home2 .slider-block .overlay {
    opacity: 0.47;
    z-index: 1;
}
.banner.home2 .online-member-overlay .block-stl2 {
    margin-bottom: 0;
}
.cover-block {
    overflow: hidden;
}
.slider-txt {
    padding: 165px 0 0 0;
    float: left;
}
.slider-txt h1 {
    font-size: 65px;
    line-height: 1.2;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    animation-delay: 0s;
}
.banner.home2 .slider-txt h1 {
    left: 0;
    font-style: italic;
}
.banner.home2 .slider-txt p {
    bottom: 0;
    margin-bottom: 30px;
}
.banner.home2 .owl-nav {
    display: none;
}
.banner.home3 .slider-txt p {
    bottom: 0;
}
#myVideo {
    position: absolute;
    height: 100%;
    z-index: -1;
    -webkit-transform: translate(-50%,-50%)scale(1.02);
    -moz-transform: translate(-50%,-50%)scale(1.02);
    -ms-transform: translate(-50%,-50%)scale(1.02);
    -o-transform: translate(-50%,-50%)scale(1.02);
    transform: translate(-50%,-50%)scale(1.02);
    top: 50%;
    left: 50%;
}
.banner.home3 .fixed-bg.vid-thumb {
    z-index: -2;
}
.banner.home3  .slider-txt h1 {
    left: 0;
}
.banner.home3 .slider-txt h1 {
    font-weight: 800;
}
.slider-txt p {
    font-size: 32px;
    line-height: 1.4062;
    color: #fff;
    position: relative;
    animation-delay: 0s;
}

.slider-txt.stl1 .cover-block,.btn-cover {
    overflow: hidden;
    position: relative;
}
.btn-cover {
    display: inline-block;
    float: left;
    position: relative;
}

.slider1 .slider-txt .cover-block:nth-child(1) {
    margin-bottom: 25px;
}
.slider1 .slider-txt .cover-block:nth-child(2) {
    margin-bottom: 30px;
}
.slider1 .slider-txt .cover-block .btn-cover .c-btn {
    margin-left: 0px;
    margin-right: 15px;
}
.banner.home3 .slider1 .slider-txt .cover-block .btn-cover .c-btn {
    margin-left: 5px;
    margin-right: 5px;
}
.banner.home3 .fixed-bg {
    z-index: -1;
}
.banner.home3 .fixed-bg canvas {
    position: absolute;
    height: 100%;
}
.slider-txt h1.animated {
    animation-delay: 1s;
}
.slider-txt p.animated {
    animation-delay: 1.3s;
}
.slider1 .slider-txt .cover-block .btn-cover:nth-child(1) .c-btn.animated {
    animation-delay: 1.6s;
}
.slider1 .slider-txt .cover-block .btn-cover:nth-child(2) .c-btn.animated {
    animation-delay: 1.8s;
}

.introducing-wrapper {
    position: relative;
    z-index: 1;
    height: 0;
}
.introducing-block {
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    height: auto;
    background: rgba(255,255,255,0.1);
    border-radius: 25px;
    padding: 10px;
    float: left;
    -webkit-transform: translateX(203px);
    -moz-transform: translateX(203px);
    -ms-transform: translateX(203px);
    -o-transform: translateX(203px);
    transform: translateX(203px);
}
.banner.Home3 .slider1 .slider-txt .cover-block:nth-child(1) {
    margin-bottom: 20px;
}
.introducing-block .inner-wrapper {
    border-radius: 20px;
    background: #dbdddd;
    padding: 38px;
    float: left;
    width: 100%;
}
.introducing-block .inner-wrapper .logo-block {
    text-align: center;
    width: 100%;
    float: left;
    margin-bottom: 25px;
}
.introducing-block .inner-wrapper .logo-block img {
    width: auto;
    margin: 0 auto;
    display: inline-block;
}
.introducing-block .inner-wrapper h2 {
    font-size: 32px;
    color: #000000;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}
.introducing-block .inner-wrapper p {
    font-size: 20px;
    color: #000000;
    font-weight: 300;
    padding: 0 10%;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.5;
}
.introducing-block .inner-wrapper label {
    color: #000000;
    font-size: 20px;
    margin-bottom: 10px;
    width: 100%;
    font-weight: 400;
    padding: 0 0 5px 10px;
}
.introducing-block .inner-wrapper .nice-select {
    width: 100%;
    height: auto;
    border-radius: 12px;
}
.introducing-block .inner-wrapper .nice-select .list {
    width: 100%;
}
.introducing-block .inner-wrapper .nice-select .current {
    line-height: 58px;
    font-size: 18px;
    font-weight: 300;
    float: left;
    overflow: hidden;
    width: 100%;
}
.introducing-block .inner-wrapper .nice-select:after {
    width: 10px;
    height: 10px;
    right: 20px;
    top: 27px;
}
.introducing-block .inner-wrapper .form-group {
    width: 100%;
    float: left;
}
.introducing-block .inner-wrapper .age-block {
    width: 100%;
    float: left;
}
.introducing-block .inner-wrapper .age-block .form-group {
    width: calc(50% - 15px);
    width: -webkit-calc(50% - 15px);
    width: -moz-calc(50% - 15px);
    float: left;
    margin-right: 15px;
}
.introducing-block .inner-wrapper .age-block .form-group .current {
    text-align: center;
    width: 100%;
    display: block;
}
.introducing-block .inner-wrapper .age-block .form-group:nth-child(2) {
    float: right;
    margin-right: 0;
}
.introducing-block .inner-wrapper .form-group .c-btn {
    width: 100%;
    margin-top: 15px;
}
.introducing-block .inner-wrapper .form-group .btn-fb {
    background: #3b5998;
    border-radius: 70px;
    color: #fff;
    width: 190px;
    text-align: center;
    min-width: 190px;
    float: left;
    font-weight: 400;
    margin-top: 5px;
    border: 2px solid;
    border-color: #3b5998;
    line-height: 48px;
}
.introducing-block .inner-wrapper .form-group .btn-fb:hover {
    background-color: transparent;
    border-color: #3b5998 !important;
    color: #3b5998 !important;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    margin-left: 0;
}
.introducing-block .inner-wrapper .form-group .btn-fb i {
    display: inline-block;
    margin-right: 10px;
}
.introducing-block .inner-wrapper .form-group .btn-gplus {
    width: 190px;
    text-align: center;
    float: right;
    min-width: 190px;
    background: #fff;
    border-radius: 70px;
    color: #000;
    font-weight: 400;
    margin-top: 5px;
    border: 2px solid;
    border-color: #fff;
    line-height: 48px;
    text-align: center;
    font-size: 0;
}
.introducing-block .inner-wrapper .form-group .btn-gplus span {
    font-size: 20px;
    vertical-align: middle;
}
.introducing-block .inner-wrapper .form-group .btn-gplus:hover {
    background-color: transparent;
}

.introducing-block .inner-wrapper .form-group .btn-gplus img {
    margin-right: 10px;
    width: auto;
    padding: 9px 0;
    float: none;
    vertical-align: middle;
    display: inline-block;
    width: 20px;
}
.services .overlay {
    background: #2f3969;
    opacity: 1;
}
.block-syl1 {
    background: #fff;
    border-radius: 10px;
    padding: 40px 20px 40px;
    text-align: center;
    float: left;
    width: 100%;
}
.block-syl1:hover {
    -webkit-transform: translateY(-12px)scale(1.1);
    -moz-transform: translateY(-12px)scale(1.1);
    -ms-transform: translateY(-12px)scale(1.1);
    -o-transform: translateY(-12px)scale(1.1);
    transform: translateY(-12px)scale(1.1);
}
.block-syl1 i {
    display: inline-block;
    font-size: 40px;
    line-height: 100px;
    width: 100px;
    margin: 0 auto 20px;
    border-radius: 50%;
    color: #000000;
}
.block-syl1:hover i {
    color: #fff;
}
.block-syl1:hover p {
    color: #f05151;
}

.block-syl1 i:before {
    font-size: inherit;
    line-height: 1;
}
.block-syl1 p {
    font-size: 20px;
    font-weight: 400;
    display: block;
}