<div class="notification-single-top">
    <h1>Mes credit:

    </h1>
</div>
<ul class="notification-menu" style="max-height: 200px; padding-top: 20px">
    <li style="display: block; padding-left: 10%">


            <div class="notification-content">

                <h2>Total Credit:
                 {% set credit=0 %}
                    {% for cadeau in cadeaux %}
                        {% set credit = credit+cadeau.cadeau.price %}

                    {% endfor %}
                    <span style="color: #ffbc06;font-size: 12px;">{{ credit }} €</span></h2>
            </div>

    </li>
    <li style="display: block; padding-left: 10%">


            <div class="notification-content">

                <h2> Credit Acheté: {% set credit=0 %}
                    {% for cadeau in cadeaux %}
                        {% if cadeau.type == 1 %}
                            {% set credit = credit+cadeau.cadeau.price %}
                        {% endif %}
                    {% endfor %}
                    <span style="color: #ffbc06;font-size: 12px;">{{ credit }} €</span></h2>
                </h2>


            </div>

    </li>
    <li style="display: block; padding-left: 10%">


            <div class="notification-content">

                <h2>Credit Cadeaux:
                 {% set credit=0 %}
                    {% for cadeau in cadeaux %}
                        {% if cadeau.type == 2 %}
                        {% set credit = credit+cadeau.cadeau.price %}
                        {% endif %}
                    {% endfor %}
                    <span style="color: #ffbc06;font-size: 12px;">{{ credit }} €</span></h2>
            </div>

    </li>


</ul>
