{% extends 'layout-profile/base.html.twig' %}

{% block title %}Abonnement Trois mois{% endblock %}
{% block header %}
    {{ parent() }}
    {%  block breadcome %}
        <div class="breadcome-area" style="margin: 3% 1% -3%;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcome-list">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="breadcomb-wp">
                                        <div class="breadcomb-icon">
                                            <div class="profile-dtl">
                                                <a href="#">  {% for photo in photos %}
                                                        {% if photo.defaultImg == 1 %}
                                                            {% set img="/images" %}
                                                            <img src="{{ img }}{{asset(photo.path)  }}" alt="" />
                                                        {% endif %}
                                                    {% endfor %}</a>

                                            </div>
                                        </div>
                                        <div class="breadcomb-ctn">
                                            <h2>Les gens que vous aiment </h2>
                                            <p>  Binvenue <strong>{{app.user.nom}} {{app.user.prenom}}</strong> chez votre espace</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="breadcomb-report">
                                        <button data-toggle="tooltip" data-placement="left" title="" class="btn" data-original-title="Download Report"><i class="icon nalika-download"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
{% block body %}

    <style>

        .breadcomb-report button {
            background: #ffbc06;
        }
    </style>
    <div class="example-wrapper" style="margin-top:50px;min-height: 89vh">

        <div class="mailbox-area mg-tb-15">
            <div class="container-fluid">
                <div class="row">
             {% for user in likes %}
                 {% if user.status != 2 %}

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="margin-bottom: 40px">
                        <div class="personal-info-wrap">
                            <a href="{{ path('userdetail_to',{'id':user.utilisateur.id}) }}">
                                <div class="widget-head-info-box" {% for photo in medias %}
                                {% if photo.user.id == user.utilisateur.id %}
                                    {% set img="/images" %}
                                         style="background-size: cover; background-image: url({{ img }}/{{ photo.path }})"
                                    {% endif %}
                                    {% endfor %}>
                                    <div class="persoanl-widget-hd">
                                        <h2 style="visibility: hidden">{{ user.utilisateur.nom }} <br>{{ user.utilisateur.prenom }}</h2>
                                    </div>
                                       {% for photo in medias %} {% if photo.user.id == user.utilisateur.id %}
                                        {% set img="/images" %}
                                    <img src="{{ img }}/{{ photo.path }}"class="img-circle circle-border m-b-md" style="     border: 3px solid;width: 100px; height: 100px;" alt="profile">
                                    {% endif %}
                                    {% endfor %}

                                </div>
                            </a>

                            <div class="widget-text-box">

                                <h4>{{ user.utilisateur.nom }} {{ user.utilisateur.prenom }}</h4>
                                <p>{{ user.utilisateur.description[:200] ~ '...' }} </p>

                                <div class="text-right like-love-list">
                                    <a class="btn btn-xs btn-white"><i class="fa fa-map"></i>
                                        {{user.utilisateur.pays}} ,   {{user.utilisateur.ville}} </a>
                                    <a class="btn btn-xs btn-primary">
                                        <i class="fa fa-calendar-day"></i>

                                        {% if user.liked.birthday !=null %}
                                            {% set age = "now"|date('Y') - user.utilisateur.birthday|date('Y') %}
                                            {{ age }} ans
                                        {% endif %}

                                    </a>
                                </div>

                            </div>

                            </div>
                        </div>

                 {% endif %}
             {% endfor %}
                </div>
            </div>
        </div>

    </div>

    <div class="navigation" style="margin-left: 2%">
        {{ knp_pagination_render(likes) }}
    </div>

{% endblock %}
