{% extends 'layout-profile/base.html.twig' %}

{% block title %}Abonnement Trois mois{% endblock %}
{% block header %}
    {{ parent() }}
    {%  block breadcome %}
        <div class="breadcome-area" style="margin: 3% 1% -3%;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcome-list">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="breadcomb-wp">
                                        <div class="breadcomb-icon">
                                            <div class="profile-dtl">
                                                <a href="#">  {% for photo in photos %}
                                                        {% if photo.defaultImg == 1 %}
                                                            {% set img="/images" %}
                                                            <img src="{{ img }}{{asset(photo.path)  }}" alt="" />
                                                        {% endif %}
                                                    {% endfor %}</a>

                                            </div>
                                        </div>
                                        <div class="breadcomb-ctn">
                                            <h2>Rencontres</h2>
                                            <p> Bienvenu <strong>{{app.user.nom}} {{app.user.prenom}} </strong>chez votre espace </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="breadcomb-report">
                                        <button data-toggle="tooltip" data-placement="left" title="" class="btn" data-original-title="Download Report"><i class="icon nalika-download"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
{% block body %}

    <link rel="stylesheet" href="{{ asset('css/app.min.css') }}">
<div class="example-wrapper" style="margin-top:50px;min-height: 89vh">

    <div class="mailbox-area mg-tb-15">
        <div class="container-fluid">
            <div class="row" style="padding: 2%">
                <div class="encounters d-flex flex-fill ng-scope" ng-app="youdateEncounters" ng-controller="EncountersController as $ctrl">
                <div class="encounters-wrapper d-flex w-100 flex-column flex-fill flex-md-row">
                    {% set active=0 %}
                    {% for user in users %}
                    {% if user.id != app.user.id %}
                        {% if active ==0 %}
                    <div class="card">

                        <div class="h-100 ng-hide" ng-show="initialStateLoaded === true &amp;&amp; !hasEncounters()">
                            <div class="no-contacts d-flex h-100 p-5 justify-content-center">
                                <div class="empty-state"><div class="empty-icon">
                                        <i class="fe fe-users"></i>
                                    </div>
                                    <h5 class="empty-title">Utilisateurs non trouvés</h5>
                                    <p class="empty-subtitle">Vous pouvez essayer de restreindre vos filtres de recherche</p>
                                </div>    </div>
                        </div>
                        <div class="d-flex flex-fill flex-column flex-md-row align-items-stretch" ng-show="initialStateLoaded === true &amp;&amp; hasEncounters()">
                            <div class="encounters-photo flex-fill">

                                <div uib-carousel="" class="ng-isolate-scope carousel"><div class="carousel-inner" ng-transclude="">
                                        {% set i=0 %}
                                        {% for photo in album %}
                                            {% if photo.user.id == user.id %}
                                            {% set img="/images" %}
                                        <div class="encounter-photo-item h-100 ng-scope ng-isolate-scope carousel-item {% if i ==0 %}active{% endif %}" uib-slide="" ng-repeat="photo in currentEncounter.photos track by photo.id" index="$index" ng-swipe-left="$parent.$parent.prev()" ng-swipe-right="$parent.$parent.next()" ng-click="$parent.$parent.next()"><div class="text-center" ng-transclude="">
                                                <div class="carousel-photo h-100 ng-scope" ng-style="{&#39;background-image&#39;: &#39;url(&#39; + photo.url + &#39;)&#39;}" style="background-image: url({{ img }}/{{ asset(photo.path) }});"></div>
                                            </div>
                                        </div>
                                            {% set i = i+1 %}
                                            {% endif %}
                                        {% endfor %}


                                    </div>
                                    <a role="button" href="" class="carousel-control-prev" ng-click="prev()" ng-class="{ disabled: isPrevDisabled() }" ng-show="slides.length &gt; 1">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a role="button" href="" class="carousel-control-next" ng-click="next()" ng-class="{ disabled: isNextDisabled() }" ng-show="slides.length &gt; 1">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                    <ol class="carousel-indicators" ng-show="slides.length &gt; 1">
                                        <!-- ngRepeat: slide in slides | orderBy:indexOfSlide track by $index --><li ng-repeat="slide in slides | orderBy:indexOfSlide track by $index" ng-class="{ active: isActive(slide) }" ng-click="select(slide)" class="ng-scope active">
                                            <span class="sr-only ng-binding">slide 1 of 3<!-- ngIf: isActive(slide) --><span ng-if="isActive(slide)" class="ng-scope">, currently active</span><!-- end ngIf: isActive(slide) --></span>
                                        </li><!-- end ngRepeat: slide in slides | orderBy:indexOfSlide track by $index --><li ng-repeat="slide in slides | orderBy:indexOfSlide track by $index" ng-class="{ active: isActive(slide) }" ng-click="select(slide)" class="ng-scope">
                                            <span class="sr-only ng-binding">slide 2 of 3<!-- ngIf: isActive(slide) --></span>
                                        </li><!-- end ngRepeat: slide in slides | orderBy:indexOfSlide track by $index --><li ng-repeat="slide in slides | orderBy:indexOfSlide track by $index" ng-class="{ active: isActive(slide) }" ng-click="select(slide)" class="ng-scope">
                                            <span class="sr-only ng-binding">slide 3 of 3<!-- ngIf: isActive(slide) --></span>
                                        </li><!-- end ngRepeat: slide in slides | orderBy:indexOfSlide track by $index -->
                                    </ol>
                                </div>
                                <div class="encounters-controls">
                                    <button class="btn btn-secondary btn-lg btn-like" ng-click="onEncounterAction(&#39;like&#39;)">
                                        <i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn btn-secondary btn-lg btn-skip" ng-click="onEncounterAction(&#39;skip&#39;)">
                                        <i class="fa fa-close"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="encounters-info ml-0 ml-md-auto">
                                <div class="profile-info" ng-show="initialStateLoaded hasEncounters()">
                                    <div class="profile-info-block profile-main-info">
                                        <div class="d-flex">
                                            <div class="name-location justify-content-end">
                                                <div class="first-line d-flex align-items-center">
                                                    <h3 class="display-name ng-binding">
                                                        {{user.nom}}  {{user.prenom}}
                                                    </h3>
                                                    <span class="px-1">·</span>
                                                    <span class="age ng-binding">
                                                         {% if user.birthday !=null %}
                                                             {% set age = "now"|date('Y') - user.birthday|date('Y') %}
                                                             {{ age }}
                                                         {% endif %}
                                                    </span>
                                                    <i class="online-status flex-shrink-0 bg-gray" uib-tooltip="">
                                                    </i>
                                                </div>
                                                <div class="second-line d-flex flex-column align-content-center">
                                                    <div class="user-location ng-binding">
                                                        {{user.pays}} ,   {{user.ville}}
                                                    </div>
                                                    <div class="user-badges d-flex flex-row mt-2">

                                                        {% if user.gender.name  == "Homme" %}

                                                                <div class="user-badge user-sex-badge d-flex align-items-center justify-content-center mr-2 sex-male" uib-tooltip="Homme">
                                                                    <i class="fa fa-male"></i>
                                                                </div>

                                                            {% elseif user.gender.name  == "Femme" %}

                                                                <div class="user-badge user-sex-badge d-flex align-items-center justify-content-center mr-2 sex-female" uib-tooltip="femme">
                                                                    <i class="fa fa-female"></i>
                                                                </div>
                                                      {% endif %}

                                                        <div ng-show="currentEncounter.user.isVerified" class="user-badge user-verified-badge d-flex align-items-center justify-content-center mr-2 ng-hide" rel="tooltip" title="Utilisateur vérifié">
                                                            <i class="fe fe-check"></i>
                                                        </div>
                                                        <div ng-show="currentEncounter.user.isPremium" class="user-badge user-premium-badge d-flex align-items-center justify-content-center ng-hide" rel="tooltip" title="Utilisateur Premium">
                                                            <i class="fe fe-star"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile-info-block">
                                        <div class="row mb-0 mb-sm-4">
                                            <div class="col-12 col-sm-6 mb-4 mb-sm-0">
                                                <div class="text-bold mb-2">Sexe:</div>
                                                <div class="text-muted ng-binding">
                                                    {% if user.gender != null %}
                                                        {{ user.gender.name}}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 mb-4 mb-sm-0">
                                                <div class="text-bold mb-2">Statut:</div>
                                                <div class="text-muted ng-binding">
                                                    {% if user.situation != null %}
                                                        {{user.situation.name}}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-sm-6 mb-4 mb-sm-0">
                                                <div class="text-bold mb-2">Je cherche:</div>
                                                <div class="text-muted ng-binding">
                                                    {% if user.lookingfor == 1 %}
                                                        Homme
                                                    {% elseif user.lookingfor == 2 %}
                                                        Femme
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="text-bold mb-2">âgé:</div>
                                                <div class="text-muted ng-binding">
                                                    26 - 46
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile-info-block">
                                        <div class="text-bold mb-2">Description:</div>
                                        <div class="text-muted ng-binding">
                                       {{ user.description }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        {% endif %}
                        {% set active = active+1 %}
                    {% endif %}

                    {% endfor %}
                    <div class="encounters-queue d-none d-md-flex flex-row flex-sm-column ml-auto" ng-show="initialStateLoaded &amp;&amp; hasEncounters()">
                        {% set active=0 %}
                        {% for user in users %}
                            {% if user.id != app.user.id %}

                            <div class="queue-item ng-scope {% if active ==0 %}active {% endif %}" ng-repeat="queuedEncounter in encounters | limitTo:5" ng-if="$index &lt; 5" ng-class="$index == 0 ? &#39;active&#39; : &#39;&#39;">
                             {% for photo in medias %}
                                 {% if photo.user.id == user.id %}
                                     {% set img="/images" %}
                                 <img src="{{ img }}/{{ photo.path }}" alt="{{ photo.user.prenom }}" title="{{ photo.user.nom }} {{ photo.user.prenom }}" >
                                 {% endif %}
                                {% endfor %}
                            </div>
                                {% set active = active+1 %}
                            {% endif %}

                        {% endfor %}

                    </div>
                </div>
                <script type="text/ng-template" id="encounters-mutual.html">

                    <div class="modal-footer">
                        <a ng-href="" class="btn btn-primary" role="button">
                            Visiter le profil        </a>
                        <button class="btn btn-secondary" type="button" ng-click="$ctrl.close()">
                            Fermer        </button>
                    </div>
                </script>
            </div>

            </div>
        </div>
    </div>
</div>


    <script src="https://youdate-demo.hauntd.me/content/assets/35536e7/angular.min.js"></script>
    <script src="https://youdate-demo.hauntd.me/content/assets/78609d56/angular-touch.min.js"></script>
   <script src="https://youdate-demo.hauntd.me//content/themes/youdate/static/js/encounters.js"></script>
    <script src="https://youdate-demo.hauntd.me//content/themes/youdate/static/js/app.js"></script><!-- footer code -->




{% endblock %}
