{% extends 'layout-profile/base.html.twig' %}

{% block title %}Abonnement Trois mois{% endblock %}
{% block header %}
    {{ parent() }}
    {%  block breadcome %}
        <div class="breadcome-area" style="margin: 3% 1% -3%;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcome-list">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="breadcomb-wp">
                                        <div class="breadcomb-icon">
                                            <div class="profile-dtl">
                                                <a href="#">  {% for photo in photos %}
                                                        {% if photo.defaultImg == 1 %}
                                                            {% set img="/images" %}
                                                            <img src="{{ img }}{{asset(photo.path)  }}" alt="" />
                                                        {% endif %}
                                                    {% endfor %}</a>

                                            </div>
                                        </div>
                                        <div class="breadcomb-ctn">
                                            <h2>Les gens que vous aiment </h2>
                                            <p>  Binvenue <strong>{{app.user.nom}} {{app.user.prenom}}</strong> chez votre espace</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="breadcomb-report">
                                        <button data-toggle="tooltip" data-placement="left" title="" class="btn" data-original-title="Download Report"><i class="icon nalika-download"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('css/app.min.css') }}">
   <style>

        .breadcomb-report button {
            background: #ffbc06;
        }


        .thumbnail, .thumbnail a>img, .thumbnail>img {

            border-radius: 50%;
        }
        .thumbnail a>img, .thumbnail>img {
            width: 100%;

           height: 53px;
        }
        .product-action a {
            border: 2px solid #ddd !important;
            display: block;
            height: 50px;
            font-size: 36px;
            line-height: 51px;
            text-align: center;
            width: 51px;
            color: #ffffff;
        }
        .product-action a :hover {
            color: #ffbc06 !important;

        }
        .carousel-control{
            background-image: none;
            font-size: 35px;
            color: #f3a530;
        }
        /*  respensive disign  */
        @media (max-width: 767px)
        {
            .hidden-phone {
                display: none !important;
            }
        }
    </style>
    <div class="example-wrapper" style="margin-top:50px;min-height: 89vh">
        <div class="mailbox-area mg-tb-15">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        <div id="main_area">
                            <!-- Slider -->
                            <div class="row">
                                <div class="col-md-11" id="slider" style="background: white">
                                    <!-- Top part of the slider -->
                                    <div class="row">
                                        <div class="col-md-12" id="carousel-bounding-box">
                                            <div class="carousel slide" id="myCarousel">
                                                <!-- Carousel items -->
                                                <div class="carousel-inner">
                                                    {% set active=0 %}
                                                    {% for user in users %}
                                                    {% if user.id != app.user.id %}
                                                    <div class="{% if active ==0 %}active{% endif %} item" data-slide-number="{{user.id}}">
                                                        <div class="col-md-6">
                                                            {% for photo in medias %}
                                                                {% if photo.user.id == user.id %}
                                                                    {% set img="/images" %}
                                                                    <img src="{{ img }}/{{ photo.path }}" alt="{{ photo.user.prenom }}" title="{{ photo.user.nom }} {{ photo.user.prenom }}" style="width: 100%;" >
                                                                    <div class="overlay-content">

                                                                        <div class="product-action">
                                                                            <ul>
                                                                                <li>
                                                                                    <a data-toggle="tooltip" title="" href="" data-original-title="Désabonner"><i class="fa fa-close" style="color: #464748" aria-hidden="true"></i></a>
                                                                                </li>
                                                                                <li>
                                                                                    <a data-toggle="tooltip" title="" href="{{path('liked',{'id': user.id})}}" data-original-title="Abonner"><i class="fa fa-heart" style="color: red" aria-hidden="true"></i></a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>


                                                                    </div>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="profile-info" ng-show="initialStateLoaded hasEncounters()">
                                                                <div class="profile-info-block profile-main-info">
                                                                    <div class="d-flex">
                                                                        <div class="name-location justify-content-end">
                                                                            <div class="first-line d-flex align-items-center">
                                                                                <h3 class="display-name ng-binding">
                                                                                    {{user.nom}}  {{user.prenom}}
                                                                                </h3>
                                                                                <span class="px-1">·</span>
                                                                                <span class="age ng-binding">
                                                                                     {% if user.birthday !=null %}
                                                                                         {% set age = "now"|date('Y') - user.birthday|date('Y') %}
                                                                                         {{ age }}
                                                                                     {% endif %}
                                                                                </span>
                                                                                <i class="online-status flex-shrink-0 bg-green-lighter" uib-tooltip="">
                                                                                </i>
                                                                            </div>
                                                                            <div class="second-line d-flex flex-column align-content-center">
                                                                                <div class="user-location ng-binding">
                                                                                    {{user.pays}} ,   {{user.ville}}
                                                                                </div>
                                                                                <div class="user-badges d-flex flex-row mt-2">
                                                        {% if user.gender != null %}
                                                                                    {% if user.gender.name  == "Homme" %}

                                                                                        <div class="user-badge user-sex-badge d-flex align-items-center justify-content-center mr-2 sex-male" uib-tooltip="Homme">
                                                                                            <i class="fa fa-male"></i>
                                                                                        </div>

                                                                                    {% elseif user.gender.name  == "Femme" %}

                                                                                        <div class="user-badge user-sex-badge d-flex align-items-center justify-content-center mr-2 sex-female" uib-tooltip="femme">
                                                                                            <i class="fa fa-female"></i>
                                                                                        </div>
                                                                                    {% endif %}
                                                        {% endif %}


                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="profile-info-block">
                                                                    <div class="row mb-0 mb-sm-4">
                                                                        <div class="col-12 col-sm-6 mb-4 mb-sm-0">
                                                                            <div class="text-bold mb-2">Sexe:</div>
                                                                            <div class="text-muted ng-binding">
                                                                                {% if user.gender != null %}
                                                                                    {{ user.gender.name}}
                                                                                {% endif %}
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-6 mb-4 mb-sm-0">
                                                                            <div class="text-bold mb-2">Statut:</div>
                                                                            <div class="text-muted ng-binding">
                                                                                {% if user.situation != null %}
                                                                                    {{user.situation.name}}
                                                                                {% endif %}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-12 col-sm-6 mb-4 mb-sm-0">
                                                                            <div class="text-bold mb-2">Je cherche:</div>
                                                                            <div class="text-muted ng-binding">
                                                                                {% if user.lookingfor == 1 %}
                                                                                    Homme
                                                                                {% elseif user.lookingfor == 2 %}
                                                                                    Femme
                                                                                {% endif %}
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-6">
                                                                            <div class="text-bold mb-2">âgé:</div>
                                                                            <div class="text-muted ng-binding">
                                                                                26 - 46
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="profile-info-block">
                                                                    <div class="text-bold mb-2">Description:</div>
                                                                    <div class="text-muted ng-binding">
                                                                        {{ user.description }}
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                        {% set active = active+1 %}
                                                    {% endif %}

                                                    {% endfor %}


                                                </div><!-- Carousel nav -->
                                                <a class="carousel-control left" data-slide="prev" href="#myCarousel" style="background-image: none;">‹</a>
                                                <a class="carousel-control right" data-slide="next" href="#myCarousel" style="background-image: none;">›</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="hidden-phone col-md-1 " id="slider-thumbs">
                                    <ul class="thumbnails">
                                        {% set active=0 %}
                                        {% for user in users %}
                                            {% if user.id != app.user.id %}
                                                <li >
                                                    <a class="thumbnail {% if active ==0 %}active{% endif %}" id="carousel-selector-{{user.id}}">
                                                        {% for photo in medias %}
                                                            {% if photo.user.id == user.id %}
                                                                {% set img="/images" %}
                                                                <img src="{{ img }}/{{ photo.path }}" alt="{{ photo.user.prenom }}" title="{{ photo.user.nom }} {{ photo.user.prenom }}" >
                                                            {% endif %}
                                                        {% endfor %}

                                                    </a>
                                                </li>
                                                {% set active = active+1 %}
                                            {% endif %}

                                        {% endfor %}



                                    </ul>
                                </div>
                            </div><!--/Slider-->


                        </div>
                    </div>



                </div>
            </div>
        </div>

    </div>
    <script>
        jQuery(document).ready(function($) {

            $('#myCarousel').carousel({
                interval: 5000
            });

            $('#carousel-text').html($('#slide-content-0').html());

            //Handles the carousel thumbnails
            $('[id^=carousel-selector-]').click( function(){
                var id_selector = $(this).attr("id");
                var id = id_selector.substr(id_selector.length -1);
                var id = parseInt(id);
                $('#myCarousel').carousel(id);
            });


            // When the carousel slides, auto update the text
            $('#myCarousel').on('slid', function (e) {
                var id = $('.item.active').data('slide-number');
                $('#carousel-text').html($('#slide-content-'+id).html());
            });
        });
    </script>
{% endblock %}
