<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" />

        <!-- bootstrap -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/bootstrap-select.min.css') }}" rel="stylesheet" type="text/css" />

        <!-- mega menu -->
        <link href="{{ asset('css/mega-menu/mega_menu.css') }}" rel="stylesheet" type="text/css" />

        <!-- font-awesome -->
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />

        <!-- Flaticon -->
        <link href="{{ asset('css/flaticon.css') }}" rel="stylesheet" type="text/css" />

        <!-- Magnific popup -->
        <link href="{{ asset('css/magnific-popup/magnific-popup.css') }}" rel="stylesheet" type="text/css" />

        <!-- owl-carousel -->
        <link href="{{ asset('css/owl-carousel/owl.carousel.css') }}" rel="stylesheet" type="text/css" />

        <!-- General style -->
        <link href="{{ asset('css/general.css') }}" rel="stylesheet" type="text/css" />

        <!-- main style -->
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />

        <!-- Style customizer -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/animate.min.css') }}">
        <style>
            .mega-menu .menu-links > li > a i.fa.fa-indicator {
                display: none;
            }
        </style>
    </head>
    <body>
    {# loader block to be shown in all page #}
    {% block loader %}
        <div id="preloader">
            <div class="clear-loading loading-effect"><img src="{{ asset('images/loading.gif') }}" alt="" /></div>
        </div>
    {% endblock %}

    {#Header block contain header-top for login/register and menu block#}
    {% block header %}

        <!--=================================
    header -->

        <header id="header" class="dark">
            <div class="topbar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="topbar-left text-left">
                                <ul class="list-inline">
                                    <li><a href="mailto:support@website.com"><i class="fa fa-envelope-o"> </i> support@website.com </a></li>
                                    <li><a href="tel:(007)1234567890"><i class="fa fa-phone"></i> (0033) 123 456 7890 </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="topbar-right text-right">
                                <ul class="list-inline social-icons color-hover">
                                    <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                                <ul class="list-inline text-uppercase top-menu">
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <li><a href="{{ path('user_profile') }}" class="fa fa-user"> Profile</a></li>
                                        <li><a href="{{ path('fos_user_security_logout') }}" class="fa fa-unlock-alt"> Déconnecter</a></li>
                                    {% else %}
                                        <li><a href="{{ path('user_registration') }}" class="fa fa-user"> S'enregistrer</a></li>
                                        <li><a href="{{ path('fos_user_security_login') }}" class="fa fa-unlock"> Se connecter</a></li>
                                    {% endif %}

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--=================================
           mega menu -->

            <div class="menu">
                <!-- menu start -->
                <nav id="menu" class="mega-menu">
                    <!-- menu list items container -->
                    <section class="menu-list-items">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- menu logo -->
                                    <ul class="menu-logo">
                                        <li> <a href="{{ path('homepage') }}"><img src="{{ asset('images/logo.png') }}" alt="logo" /> </a> </li>
                                    </ul>
                                    <!-- menu links -->
                                    <ul class="menu-links">
                                        <!-- active class -->
                                        <li class="active"><a href="{{ path('homepage') }}"> Accueil <i class="fa fa-angle-down fa-indicator"></i></a>

                                        </li>
                                        <li><a href="javascript:void(0)">Qui sommes nous ? <i class="fa fa-angle-down fa-indicator"></i></a>
                                            <!-- drop down multilevel  -->

                                        </li>
                                        <li><a href="javascript:void(0)">Nos packs <i class="fa fa-angle-down fa-indicator"></i></a>
                                            <!-- drop down multilevel  -->

                                        </li>

                                        <li><a href="javascript:void(0)"> Blog <i class="fa fa-angle-down fa-indicator"></i></a>
                                            <!-- drop down multilevel  -->

                                        </li>

                                        <li><a href="javascript:void(0)"> Contact <i class="fa fa-angle-down fa-indicator"></i></a>
                                            <!-- drop down multilevel  -->

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </nav>
                <!-- menu end -->
            </div>
        </header>

        <!--=================================
         header -->


    {% endblock %}



        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    {# footer block #}
    {% block footer %}

        <!--=================================
        footer -->

        <footer class="page-section-pt text-white text-center" style="background: url(../images/pattern/04.png) no-repeat 0 0; background-size: cover;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="row mb-5">
                            <div class="col-md-12">
                                <h2 class="title divider mb-3">Contactez nous</h2>
                                <p class="lead">Eum cu tantas legere complectitur, hinc utamur ea eam. Eum patrioque mnesarchum eu, diam erant convenire et vis. Et essent evertitur sea, vis cu ubique referrentur, sed eu dicant expetendis. Eum cu</p>
                            </div>
                        </div>
                        <div class="row mb-5 sm-mb-2">
                            <div class="col-md-4">
                                <div class="address-block"> <i class="fa fa-desktop" aria-hidden="true"></i> <a href="mailto:somemail@mail.com">somemail@mail.com</a> </div>
                            </div>
                            <div class="col-md-4">
                                <div class="address-block"> <i class="fa fa-home" aria-hidden="true"></i>
                                    <address>
                                        T317 Timber Oak Drive<br/>
                                        Lyon 69755
                                    </address>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="address-block"> <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+000123456789">+33 00 00 00 01</a> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <h4 class="title divider-3">Nous aimons parler</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="formmessage" style="display:none">Success/Error Message Goes Here</div>
                                <form id="contactform" class="main-form" method="post" action="php/contact-form.php">
                                    <div class="form-group half-group">
                                        <div class="input-group">
                                            <input id="name" placeholder="Votre nom" class="form-control" name="name" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group half-group">
                                        <div class="input-group">
                                            <input placeholder="Votre email" class="form-control" name="email" type="email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <textarea class="form-control input-message" placeholder="Votre message ici*" rows="7" name="message"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group sm-mb-0">
                                        <input type="hidden" name="action" value="sendEmail"/>
                                        <button id="submit" name="submit" type="submit" value="Send" class="button btn-lg btn-theme full-rounded animated right-icn"><span>Envoyer<i class="glyph-icon flaticon-hearts" aria-hidden="true"></i></span></button>
                                    </div>
                                </form>
                                <div id="ajaxloader" style="display:none"><img class="center-block" src="{{ asset('images/loading.gif') }}" alt="" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="footer-widget mt-5 sm-mt-3">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="footer-logo mb-2"> <img class="img-center" src="{{ asset('images/footer-logo.png') }}" alt="" /> </div>
                            <div class="social-icons color-hover">
                                <ul>
                                    <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li class="social-gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li class="social-youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                            </div>
                            <p class="text-white">© 2019  - wiqsupport </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!--=================================
        footer -->
    {% endblock %}

    {% block javascripts %}

        <div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-level-up"></i></a></div>

        <!--=================================
    jquery -->

        <!-- jquery  -->
        <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/popper.min.js') }}"></script>

        <!-- bootstrap -->
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap-select.min.js') }}"></script>

        <!-- appear -->
        <script type="text/javascript" src="{{ asset('js/jquery.appear.js') }}"></script>

        <!-- Menu -->
        <script type="text/javascript" src="{{ asset('js/mega-menu/mega_menu.js') }}"></script>

        <!-- owl-carousel -->
        <script type="text/javascript" src="{{ asset('js/owl-carousel/owl.carousel.min.js') }}"></script>

        <!-- counter -->
        <script type="text/javascript" src="{{ asset('js/counter/jquery.countTo.js') }}"></script>

        <!-- Magnific Popup -->
        <script type="text/javascript" src="{{ asset('js/magnific-popup/jquery.magnific-popup.min.js') }}"></script>

        <!-- custom -->
        <script type="text/javascript" src="{{ asset('js/custom.js') }}"></script>
    {% endblock %}
    </body>
</html>
