{% extends 'base.html.twig' %}

{% block title %}Welcome home{%endblock%}
{%block body %}
    <section class="page-section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-md-1 mb-5">

                </div>
                <div class="col-lg-10 col-md-10">
                    <div class="post">
                        <div class="post-image clearfix">
                            {% if actualite.media != null %}
                            <img class="img-fluid" src="{{actualite.media.src}}" alt=""> {% else %}
                                <img class="img-fluid" src="{{asset('images/blog/no-image.jpg')}}" alt="" />
                            {% endif %}
                        </div>
                        <div class="post-details">
                            <div class="post-title mt-2">
                                <h5 class="title text-uppercase mt-2"><a href="#">{{actualite.title}}</a></h5>
                            </div>
                            <p>{{actualite.dateCreation| date('d F Y')}}</p>
                            <div class="post-icon">
                                <div class="post-content">
                                    <p>{{ actualite.description }} </p> <br>
                                    </div>
                                <br>


                                <div class="comment-box">
                                    <div class="section-title">
                                        <h3 class="title">Commentaires
                                            <label>({%  set count = 0 %}
                                                {% for comment in commentaires %} {% set count = count+1 %} {% endfor %} {{ count }})
                                            </label>
                                        </h3>
                                    </div>
                                    <ol class="list-inline comment-list">
                                        {% for comment in commentaires %}
                                        <li>
                                            <div class="comments-media">
                                                <div class="comments-photo media-left"><a href="#"><img alt="" class="media-object" src="images/thumbnail/thum-4.jpg" style="width:80px; height:80px;"></a></div>
                                                <div class="comments-info media-body">
                                                    <h5 class="title">{{comment.user.prenom}}</h5>
                                                    <div class="comment-metadata"><a href="#"><i class="fa fa-calendar"></i> Le {{comment.dateCreation|date('d F Y')}}  à  {{comment.dateCreation|date('h:i A')}} </a></div>

                                                    <p>{{comment.message}} </p>
                                                </div>
                                            </div>

                                        </li>
                                        {% endfor %}

                                    </ol>
                                </div>
                                <div class="comment-respond">
                                    <div class="section-title text-left">
                                        <h3 class="title">Laisser un commentaire</h3>

                                    </div>
                                    <div id="formmessage" style="display:none">Success/Error Message Goes Here</div>
                                    <form  role="form" method="post" action="{{path('actualite_commentaire',{'id':actualite.id})}}">
                                        <div class="form-group">
                                            <label>Commentaire*</label>
                                            <div class="input-group">

                                                <textarea class="form-control" name="commentaire" rows="5"></textarea>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="hidden" name="action" value="sendEmail">
                                            <button id="submit" name="submit" type="submit" value="Send" class="button btn-lg btn-theme full-rounded animated right-icn"><span>Envoyer maintenant!<i class="glyph-icon flaticon-hearts" aria-hidden="true"></i></span></button>
                                        </div>
                                    </form>
                                    <div id="ajaxloader" style="display:none"><img class="center-block" src="images/loading.gif" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{%endblock%}