{% extends 'base.html.twig' %}

{% block title %}Welcome home{%endblock%}
{%block body %}

    <section class="masonry-main page-section-ptb pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="masonry-block">
                        <div class="row" >
                            <div class="grid-sizer"></div>
                            {% for act in actualites %}
                                 <div class="masonry-item post-article col-md-6" >
                                <div class="post post-artical">
                                    <div class="post-image clearfix"><img class="img-fluid" src="{{asset(act.media.src)}}" alt=""></div>
                                    <div class="post-details">
                                        <div class="post-title mt-2">
                                            <h5 class="title text-uppercase mt-2">
                                                <a href="{{path('actualite_detail', {'id': act.id})}}">{{ act.title }}</a></h5>
                                        </div>
                                        <p>{{act.dateCreation|date('F d')}} by<a href="#">Admin</a></p>
                                        <div class="post-icon">
                                            <div class="post-content">
                                                <p>{{ act.description[:220] }}</p> </div>
                                            <a class="button" href="{{path('actualite_detail', {'id': act.id})}}">read more..</a></div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                         </div>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <nav class="pagination-nav mt-0">
                        <ul class="pagination">
                                {{ knp_pagination_render(actualites) }}

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

{% endblock %}