<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Metting - Dating HTML5 Template" />
    <meta name="author" content="meeting.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}

        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" />

        <!-- bootstrap -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/bootstrap-select.min.css') }}" rel="stylesheet" type="text/css" />

        <!-- mega menu -->
        <link href="{{ asset('css/mega-menu/mega_menu.css') }}" rel="stylesheet" type="text/css" />

        <!-- font-awesome -->
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/owl.carousel.min.css') }}" rel="stylesheet" type="text/css" />

        <!-- Flaticon -->
        <link href="{{ asset('css/flaticon.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/responsive.css') }}" rel="stylesheet" type="text/css" />

        <!-- Magnific popup -->
        <link href="{{ asset('css/magnific-popup/magnific-popup.css') }}" rel="stylesheet" type="text/css" />

        <!-- owl-carousel -->
       {# <link href="{{ asset('css/owl-carousel/owl.carousel.css') }}" rel="stylesheet" type="text/css" />#}

        <!-- General style -->
        <link href="{{ asset('css/general.css') }}" rel="stylesheet" type="text/css" />

        <!-- main style -->
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/banner.css') }}" rel="stylesheet" type="text/css" />

        <!-- Style customizer -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/animate.min.css') }}">
        <style>
            .mega-menu .menu-links > li > a i.fa.fa-indicator {
                display: none;
            }
        </style>
    {% endblock %}


</head>
<body>
{# loader block to be shown in all page #}
{% block loader %}
    <div id="preloader">
        <div class="clear-loading loading-effect"><img src="{{ asset('images/loading.gif') }}" alt="" /></div>
    </div>
{% endblock %}

{#Header block contain header-top for login/register and menu block#}
{% block header %}

    <!--=================================
header -->

    <header id="header" class="dark">
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="topbar-left text-left">
                        <ul class="list-inline">
                            <li><a href="mailto:contact@viea.net"><i class="fa fa-envelope-o"> </i> contact@viea.net </a></li>
                            <li><a href="tel:(007)1234567890"><i class="fa fa-phone"></i> (0033) 06 00 00 00 01 </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="topbar-right text-right">
                        <ul class="list-inline social-icons color-hover">
                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                        <ul class="list-inline text-uppercase top-menu">



                            {% if is_granted('ROLE_UNMOIS')  %}
                                <li><a href="{{ path('abonnement_unmois') }}" class="fa fa-user"> Profile</a></li>

                            {% elseif is_granted('ROLE_TROISMOIS')  %}
                                <li><a href="{{ path('abonnement_troismois') }}" class="fa fa-user"> Profile</a></li>

                            {% elseif is_granted('ROLE_USER') %}
                                <li><a href="{{ path('abonnement_gratuit') }}" class="fa fa-user"> Profile</a></li>
                            {% endif %}

                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li><a href="{{ path('fos_user_security_logout') }}" class="fa fa-unlock-alt"> Déconnecter</a></li>
                            {% else %}
                                <li><a href="{{ path('user_registration') }}" class="fa fa-user"> S'enregistrer</a></li>
                                <li><a href="{{ path('fos_user_security_login') }}" class="fa fa-unlock"> Se connecter</a></li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=================================
   mega menu -->

    <div class="menu">
        <!-- menu start -->
        <nav id="menu" class="mega-menu">
            <!-- menu list items container -->
            <section class="menu-list-items">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- menu logo -->
                            <ul class="menu-logo">
                                <li> <a href="{{ path('homepage') }}"><img src="" alt="LOGO" /> </a> </li>
                            </ul>
                            <!-- menu links -->
                            <ul class="menu-links">
                                <!-- active class -->
                                <li class="active"><a href="{{ path('homepage') }}"> Accueil </a>

                                </li>
                                <li><a href="javascript:void(0)">Qui sommes nous ?</a>
                                    <!-- drop down multilevel  -->
                                 
                                </li>
                                <li><a href="{{ path('homepage') }}#package">Nos packs </a>
                                    <!-- drop down multilevel  -->
                                   
                                </li>
                         
                                <li><a href="{{path('actualites')}}"> Blog </a>
                                    <!-- drop down multilevel  -->
                               
                                </li>
                               
                                <li><a href="#contact"> Contact </a>
                                    <!-- drop down multilevel  -->
                                
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </nav>
        <!-- menu end -->
    </div>
    </header>

    <!--=================================
     header -->


{% endblock %}

{# body block #}
{% block body %}

{% endblock %}


{# footer block #}
{% block footer %}

    <!--=================================
    footer -->

    <footer class="page-section-pt text-white text-center footer" style="background: url(../images/pattern/04.png) no-repeat 0 0; background-size: cover;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="row mb-5">
                        <div class="col-md-12" id="contact">
                            <h2 class="title divider mb-3">Contactez nous</h2>
                            <p class="lead">Eum cu tantas legere complectitur, hinc utamur ea eam. Eum patrioque mnesarchum eu, diam erant convenire et vis. Et essent evertitur sea, vis cu ubique referrentur, sed eu dicant expetendis. Eum cu</p>
                        </div>
                    </div>
                    <div class="row mb-5 sm-mb-2">
                        <div class="col-md-4">
                            <div class="address-block"> <i class="fa fa-desktop" aria-hidden="true"></i> <a href="mailto:contact@viea.net">contact@viea.net</a> </div>
                        </div>
                        <div class="col-md-4">
                            <div class="address-block"> <i class="fa fa-home" aria-hidden="true"></i>
                                <address>
                                    T317 Timber Oak Drive<br/>
                                    Lyon 69755
                                </address>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="address-block"> <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+33 00 00 00 01">+33 00 00 00 01</a> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <h4 class="title divider-3">Nous aimons parler</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <form class="main-form" method="post" action="{{path('message')}}">
                                <div class="form-group half-group">
                                    <div class="input-group">
                                        <input id="name" placeholder="Votre nom" class="form-control" name="name" type="text">
                                    </div>
                                </div>
                                <div class="form-group half-group">
                                    <div class="input-group">
                                        <input placeholder="Votre email" class="form-control" name="mail" type="email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <textarea class="form-control input-message" placeholder="Votre message ici*" rows="7" name="message"></textarea>
                                    </div>
                                </div>
                                <div class="form-group sm-mb-0">
                                    <input type="submit" name="submit" value="sendEmail"  class="button btn-lg btn-theme"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="footer-widget mt-5 sm-mt-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="footer-logo mb-2"> <img class="img-center" src="" alt="LOGO" /> </div>
                        <div class="social-icons color-hover">
                            <ul>
                                <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li class="social-gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="social-youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                        <p class="text-white">© 2019  - wiqsupport </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--=================================
    footer -->
{% endblock %}

{% block javascripts %}

    <div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-level-up"></i></a></div>

    <!--=================================
jquery -->

    <!-- jquery  -->
    <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/popper.min.js') }}"></script>

    <!-- bootstrap -->
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-select.min.js') }}"></script>

    <!-- appear -->
    <script type="text/javascript" src="{{ asset('js/jquery.appear.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins.js') }}"></script>

    <!-- Menu -->
    <script type="text/javascript" src="{{ asset('js/mega-menu/mega_menu.js') }}"></script>

    <!-- owl-carousel -->
    <script type="text/javascript" src="{{ asset('js/owl-carousel/owl.carousel.min.js') }}"></script>

    <!-- counter -->
    <script type="text/javascript" src="{{ asset('js/counter/jquery.countTo.js') }}"></script>

    <!-- Magnific Popup -->
    <script type="text/javascript" src="{{ asset('js/magnific-popup/jquery.magnific-popup.min.js') }}"></script>

    <!-- custom -->
    <script type="text/javascript" src="{{ asset('js/custom.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/custom1.js') }}"></script>
{% endblock %}
</body>
</html>
