{% extends 'base.html.twig' %}

{% block title %}Welcome home{%endblock%}
{%block body %}
   <style>
       .post .post-date {

           width: auto;}
        .demo{ background: #e7e7e7; }
        .pricingTable{
            background: linear-gradient(to bottom,transparent 24%,#fff 25%);
            font-family: 'Ubuntu', sans-serif;
            text-align: center;
            padding: 0 0 40px;
            margin: 0 15px;
            -webkit-clip-path: polygon(0 0, 100% 0%, 100% 93%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 93%, 0% 100%);
        }
        .pricingTable .pricingTable-header{
            color: #fff;
            padding: 45px 15px 35px;
            position: relative;
        }
        .pricingTable .pricingTable-header:before,
        .pricingTable .pricingTable-header:after{
            content: '';
            background: #a395a1;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;
            -webkit-clip-path: polygon(100% 20%, 100% 100%, 50% 90%, 0 100%, 0 0);
            clip-path: polygon(100% 20%, 100% 100%, 50% 90%, 0 100%, 0 0);
        }
        .pricingTable .pricingTable-header:after{
            background: #ffba05;
            height: 95%;
            z-index: -1;
            -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 100%, 0 20%);
            clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 100%, 0 20%);
        }
        .pricingTable .title{
            font-size: 28px;
            font-weight: 600;
            text-transform: uppercase;
            margin: 0;
        }
        .pricingTable .currency{
            font-size: 60px;
            line-height: 60px;
        }
        .pricingTable .amount{
            font-size: 60px;
            line-height: 70px;
        }
        .pricingTable .amount-sm{
            font-size: 22px;
            line-height: 35px;
            vertical-align: top;
        }
        .pricingTable .pricing-content{
            padding: 10px 0;
            margin: 0 30px;
            list-style: none;
        }
        .pricingTable .pricing-content li{
            color: #505050;
            font-size: 16px;
            line-height: 25px;
            text-transform: capitalize;
            letter-spacing: 1px;
            border-bottom: 2px solid rgba(0, 0, 0, 0.15);
            margin-bottom: 10px;
        }
        .pricingTable .pricing-content li:last-child{ border-bottom: none; }
        .pricingTable .pricingTable-signup{
            color: #ffba05;
            background-color: #fff;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
            padding: 10px 30px;
            border: 2px solid #ffba05;
            display: inline-block;
            overflow: hidden;
            position: relative;
            z-index: 1;
            transition: all 0.3s ease 0s;
        }
        .pricingTable .pricingTable-signup:hover{ color: #fff; }
        .pricingTable .pricingTable-signup:before{
            content: "";
            background-color: #ffba05;
            height: 150px;
            width: 220px;
            border-radius: 50%;
            position: absolute;
            bottom: 100%;
            left: -15px;
            z-index: -1;
            transition: all 0.7s ease 0s;
        }
        .pricingTable .pricingTable-signup:hover:before{ bottom: -50px; }
        .pricingTable.orange .pricingTable-header:after{ background-color: #FF9F00; }
        .pricingTable.orange .pricingTable-signup{
            color: #FF9F00;
            border-color: #FF9F00;
        }
        .pricingTable.orange .pricingTable-signup:hover{ color: #fff; }
        .pricingTable.orange .pricingTable-signup:before{ background-color: #FF9F00; }
        .pricingTable.magenta .pricingTable-header:after{     background: linear-gradient(90deg,#f9c63c,#ff3b30,#2d1212);  }
        .pricingTable.magenta .pricingTable-signup{
            color: #ff6124;
            border-color: #ff6124;
        }
        .pricingTable.magenta .pricingTable-signup:hover{ color: #fff; }
        .pricingTable.magenta .pricingTable-signup:before{ background-color: #ff6124; }
        @media only screen and (max-width: 990px){
            .pricingTable{ margin: 0 0 30px; }
        }
        .dark-bg a {
            color: #2b0d1b !important;
        }
        .profile-details h5 {
            color: #ffa10e;
            font-weight: 600;
        }
       .post .post-details {

           width: 100%;

       }

    </style>
    {% include "slider.html.twig" %}
    <section class="page-section-ptb">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center mb-5">
                    <h2 class="title divider-2 mb-3">Des rencontres pour une vie</h2>
                    <p class="mb-0 lead">The overall planning, coordination, and control of a project from beginning to completion. CPM is aimed at meeting a client's Construction Project Management.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 align-self-center mb-3"><img class="img-fluid" src="images/about/01.jpg" alt=""></div>
                <div class="col-md-6">
                    <h3 class="title">Founded in 1990</h3>
                    <h5 class="clearfix text-orange mb-2">A World Of Infinite Opportunities</h5>
                    <p class="mb-0">I want to talk about to things that are quite important to me. There are love and one my personal inadequacies. The thing is that I’m quite fond of love, I think that it’s a pretty all right deal. However, I’m going to have to admit that my emotional baggage has built up walls that not even a shock and awe campaign could bring down. But I do love. And in fact I even love unconditionally. <br>
                        <br>
                        I have a truck. It’s kind of a small truck, but I’m comfortable with myself so that’s okay. I think that I love it. I had a friend about a year ago ask me if I could have any car in the world what would I have. And aside from pointing out that my friend and I have clearly ran out of things to discuss and should probably go our separate ways, my answer told me that I love my truck (obviously I said I would keep my truck). </p>
                </div>
            </div>
        </div>
    </section>
    <!--=================================



Counter -->

 {#   <section class="page-section-pb">
        <div class="container">
            <div class="row">
                <div class="col-md-3 d-flex">
                    <div class="counter left_pos"> <i class="glyph-icon flaticon-people-2"></i> <span class="timer" data-to="1600" data-speed="10000">1600</span>
                        <label class="lead muted">Total Members</label>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="counter left_pos"> <i class="glyph-icon flaticon-favorite"></i> <span class="timer" data-to="750" data-speed="10000">750</span>
                        <label class="lead muted">Online Members</label>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="counter left_pos"> <i class="glyph-icon flaticon-charity"></i> <span class="timer" data-to="380" data-speed="10000">380</span>
                        <label class="lead muted">Men Online</label>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="counter left_pos"> <i class="glyph-icon flaticon-candelabra"></i> <span class="timer" data-to="370" data-speed="10000">370</span>
                        <label class="lead muted">Women Online</label>
                    </div>
                </div>
            </div>
        </div>
    </section>#}


    <section class="page-section-ptb text-white bg-overlay-black-70 bg text-center" style="background: url(images/bg/bg-7.jpg) no-repeat 0 0; background-size: cover;">
        <div class="container">
            <div class="row justify-content-center mb-3">
                <div class="col-md-10">
                    <h2 class="title divider-2 mb-3">Allez plus loin, à deux</h2>
                    <p class="lead" style="color: white">Eum cu tantas legere complectitur, hinc utamur ea eam. Eum patrioque mnesarchum eu, diam erant convenire et vis. Et essent evertitur sea, vis cu ubique referrentur, <br>sed eu dicant expetendis Et essent evertitur sea, vis cu ubique referrentur, sed eu dicant expetendis.Eum cu tantas legere complectitur, hinc utamur ea eam. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </section>
    <section class="page-section-ptb profile-slider gray-bg">
        <div class="container">
            <div class="row justify-content-center mb-5 sm-mb-3">
                <div class="col-md-8 text-center">
                    <h2 class="title divider-2">Ils viennent de nous rejoindre</h2>
                </div>
            </div>
            <div class="row">
                {% set i= 0 %}
                {% for user in users %}
                    {% if i<4 %}
                <div class="col-md-3 sm-mb-3">
                    <div class="profile-item-hover">

                        <a href="{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}{{path('detail_user',{'id':user.id})}}{% else %}#package{% endif %}" class="profile-item">



                            <div class="profile-image clearfix">
                                {% for photo in medias %}
                                    {% if photo.user.id == user.id %}
                                        {% set img="/images" %}
                                        <img src="{{ img }}{{asset(photo.path)  }}" class="img-fluid" alt="" style="height: 332px; width: 100%;">
                                    {% endif %}
                                {% endfor %}

                            </div>
                            <div class="profile-details profile-text">
                                <h5 class="title">{{user.nom}} {{user.prenom}}</h5>
                                <span class="text-black">{% if user.birthday !=null %}
                                                {% set age = "now"|date('Y') - user.birthday|date('Y') %}
                                                {{ age }} ans
                                            {% endif %}</span>
                            </div>
                        </a>
                    </div>
                </div>
                    {% set i=i+1 %}
                    {% endif %}
                {% endfor %}


          </div>
        </div>
    </section>
    <section class="page-section-ptb text-center">
        <div class="container">
            <div class="row justify-content-center mb-5 sm-mb-3">
                <div class="col-md-8">
                    <h2 class="title divider-2 mb-3">Ils ont trouvé l’amour</h2>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 sm-mb-3">
                    <div class="timeline-badge mb-2"><img class="img-center" src="images/timeline/01.png" alt=""></div>
                    <h4 class="title divider-3 mb-3">CREATE PROFILE</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  enim ad minim veniam,            quis</p>
                </div>
                <div class="col-md-4 sm-mb-3">
                    <div class="timeline-badge mb-2"><img class="img-center" src="images/timeline/02.png" alt=""></div>
                    <h4 class="title divider-3 mb-3">FIND MATCH</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  enim ad minim veniam,            quis</p>
                </div>
                <div class="col-md-4">
                    <div class="timeline-badge mb-2"><img class="img-center" src="images/timeline/03.png" alt=""></div>
                    <h4 class="title divider-3 mb-3">START DATING</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  enim ad minim veniam,            quis</p>
                </div>
            </div>
        </div>
    </section>

    <!--=================================
Post Style -->

    <section class="page-section-ptb grey-bg">
        <div class="container">
            <div class="row justify-content-center mb-5 sm-mb-3">
                <div class="col-md-8 text-center">
                    <h2 class="title divider-2 mb-3">Nos histoires</h2>
                    <p class="lead mb-0">Nulla quis lorem ut libero malesuada feugiat. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
                </div>
            </div>
            <div class="row post-article">
                {% set i=0 %}
                {% for act in actualites %}
                    {% if i <3 %}
                    <div class="col-md-4" style="padding: 1%">
                        <div class="post post-artical top-pos">
                            <div class="post-image clearfix">
                                {% if act.media != null %}
                                <img class="img-fluid" src="{{asset(act.media.src)}}" alt="" />
                                    {% else %}
                                        <img class="img-fluid" src="{{asset('images/blog/no-image.jpg')}}" alt="" />
                                {% endif %}
                            </div>
                            <div class="post-details">
                                <div class="post-date">{{ act.dateCreation|date("d") }}<span class="text-black">{{ act.dateCreation|date("F") }}</span></div>
                                <div class="post-meta"> <a href="#"><i class="fa fa-user"></i> Admin</a>
                                    <a href="{{path('actualite_detail', {'id': act.id})}}"><i class="fa fa-comments-o last-child"></i>Comments ({%  set count = 0 %}
                                        {% for comment in commentaires %}
                                            {% if comment.actualite.id == act.id %}
                                            {% set count = count+1 %}
                                            {% endif %}
                                        {% endfor %} {{ count }})
                                    </a> </div>
                                <div class="post-title">
                                    <h5 class="title text-uppercase"><a href="{{path('actualite_detail', {'id': act.id})}}">{{act.title}}</a></h5>
                                </div>
                                <div class="post-content">
                                    <p>{{ act.description[:175] }}</p>
                                </div>
                                <a class="button" href="{{path('actualite_detail', {'id': act.id})}}">read more..</a> </div>
                        </div>
                    </div>
                    {% set i=i+1 %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>


    <section class="login-form register-img dark-bg page-section-ptb" style="background: url(images/pattern/04.png) no-repeat 0 0; background-size: cover;">
        <div class="container" id="package">

            <div class="col-md-12" style="    text-align: center;">
                <h2 class="title divider mb-3" style="color: white">Nos Packages</h2>
             </div>
            <div class="row  justify-content-center" style="padding: 1% 8%">
                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <h3 class="title">5 Jours</h3>
                            <div class="price-value">
                   
                                
                                <span class="amount">Gratuit</span>
								
                            </div>
                        </div>
                        <ul class="pricing-content">
                            <li>xxxxxxxxx</li>
                            <li>xxxxxxxxx</li>
                            <li>xxxxxxxxx</li>
                            <li>xxxxxxxxx</li>
                            <li>xxxxxxxxx</li>
                        </ul>
                        <a href="{{path('pack_gratuit')}}" class="pricingTable-signup">S'abonner</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable magenta">
                        <div class="pricingTable-header">
                            <h3 class="title">1 Mois</h3>
                            <div class="price-value">
                             
                                <span class="amount">20</span>
                                <span class="amount-sm">00</span>
								   <span class="currency">€</span>
                            </div>
                        </div>
                        <ul class="pricing-content">
                            <li>xxxxxxxxx</li>
                            <li>xxxxxxxxx</li>
                            <li>xxxxxxxxx</li>
                            <li>xxxxxxxxx</li>
                            <li>xxxxxxxxx</li>
                        </ul>
                        {% if is_granted('ROLE_UNMOIS') %}
                        <a href="{{ path('abonnement_unmois') }}" class="pricingTable-signup" style="border-color: #3b91ef; background: #3b91ef;">Déja abonné</a>
                        {% else %}
                        <a href="{{path('pack_unmois')}}" class="pricingTable-signup">S'abonner</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable orange">
                        <div class="pricingTable-header">
                            <h3 class="title">3 Mois</h3>
                            <div class="price-value">
                               
                                <span class="amount">80</span>
                                <span class="amount-sm">00</span>
								 <span class="currency">€</span>
                            </div>
                        </div>
                        <ul class="pricing-content">
                          <li>xxxxxxxxx</li>
                            <li>xxxxxxxxx</li>
                            <li>xxxxxxxxx</li>
                            <li>xxxxxxxxx</li>
                            <li>xxxxxxxxx</li>
                        </ul>
                        {% if is_granted('ROLE_TROISMOIS') %}
                        <a href="{{ path('abonnement_troismois') }}" class="pricingTable-signup" style="border-color: #3b91ef; background: #3b91ef;">Déja abonné</a>
                        {% else %}
                        <a href="{{path('pack_troismois')}}" class="pricingTable-signup">S'abonner</a>
                        {% endif %}
                    </div>
                </div>
          </div>
        </div>
    </section>


{%endblock%}