{% extends 'base.html.twig' %}

{% block title %}Welcome home{%endblock%}
{%block body %}
    <style>
        .team .team-images img {
            width: 100%;
            height: 352px;
            border: 2px solid #ffe6a2;
        }
    </style>
    <!--=================================
     Page Section -->
    <section class="page-section-ptb">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-8 text-center">
                    <h2 class="title divider mb-3">Our Team Member</h2>
                </div>
            </div>
            <div class="row">
                {% for user in users %}
                <div class="col-lg-3 col-md-6">
                    <div class="team team-1 sm-mb-3">
                        <div class="team-images"> <img class="img-fluid" src="images/
{% for photo in photos %}
{% if photo.user.id == user.id %}
{{ photo.path}}
{% endif %}
{% endfor %}" alt="" /> </div>
                        <div class="team-description">
                            <div class="team-tilte">
                                <h5 class="title"><a href="team-single.html">{{user.nom}} {{ user.prenom }}</a></h5>
                                <span>
                                    {% if user.birthday !=null %}
                                        {% set age = "now"|date('Y') - user.birthday|date('Y') %}
                                       {{ age }} ans
                                    {% endif %}
                                </span> </div>

                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>

    <!--=================================
     page-section -->


{%endblock%}