<!--=================================
 banner -->
<style>
    #myDIV {
        display:none;
    }
</style>
<section id="home-slider" class="fullscreen">
    <div id="main-slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <!--/ Carousel item end -->
            <div class="carousel-item active h-100 bg-overlay-red" style="background: url(images/bg/bg-1.jpg ) no-repeat 0 0; background-size: cover;"  data-gradient-red="4" >
                <div class="slider-content">
                    <div class="container">
                        <div class="row carousel-caption align-items-center h-100">
                            <div class="col-md-12 text-right">
                                <div class="slider-1">
                                    <h1 class="animated2 text-white">Are You <span>Waiting</span> For <span> Dating ?</span></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item h-100 bg-overlay-red" style="background: url(images/bg/bg-2.jpg ) no-repeat 0 0; background-size: cover;"  data-gradient-red="4">
                <div class="slider-content">
                    <div class="container">
                        <div class="row carousel-caption align-items-center h-100">
                            <div class="col-md-12 text-left">
                                <div class="slider-1">
                                    <h1 class="animated7 text-white">Meet big <span> and </span> beautiful love <span> here!</span></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Carousel item end -->
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#main-slider" data-slide="prev"> <span><i class="fa fa-angle-left"></i></span> </a> <a class="right carousel-control" href="#main-slider" data-slide="next"> <span><i class="fa fa-angle-right"></i></span> </a> </div>
</section>

<!--=================================
 banner -->
<!--=================================

<script>
    function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
<!--=================================
 Page Section -->
