{% extends 'layout-profile/base.html.twig' %}

{% block title %}Abonnement un mois{% endblock %}
{% block header %}
    {{ parent() }}
    {%  block breadcome %}
        <div class="breadcome-area" style="margin: 3% 1% -3%;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcome-list">
                            <div class="row">

                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="breadcomb-wp">
                                        <div class="breadcomb-icon">
                                            <div class="profile-dtl">
                                                <a href="#">  {% for photo in photos %}
                                                        {% if photo.defaultImg == 1 %}
                                                            {% set img="/images" %}
                                                            <img src="{{ img }}{{asset(photo.path)  }}" alt="" />
                                                        {% endif %}
                                                    {% endfor %}</a>

                                            </div>
                                        </div>
                                        <div class="breadcomb-ctn">
                                            <h2>{{app.user.nom}} {{app.user.prenom}}</h2>
                                            <p> forfait Abonnement <strong>un mois</strong> </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="breadcomb-report">
                                        <button data-toggle="tooltip" data-placement="left" title="" class="btn" data-original-title="Download Report"><i class="icon nalika-download"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
{% block body %}

    <style>
        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th,
        .table>thead>tr>td, .table>thead>tr>th {
            padding: 13px 1px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #f3f3f3;
        }
        ul.two-part-sp li {
            display: inline-block;
            width: 22%;
            color: #fff;
        }
    </style>
    <div class="example-wrapper" style="margin-top:50px;min-height: 89vh">

        <div class="mailbox-area mg-tb-15">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-9 col-md-9 col-sm-9 col-xs-12">
                        <div class="hpanel mg-b-15">

                            <div class="panel-body">
                                <div class="sparkline8-list" style="background: #ffffff">
                                    <div class="sparkline8-hd">
                                        <div class="main-sparkline8-hd">
                                            <h1>Detail Profile</h1>
                                        </div>
                                    </div>
                                    <div class="sparkline8-graph">
                                        <div class="static-table-list">
                                            <table class="table">

                                                <tbody>
                                                <tr>
                                                    <th>sexe</th>
                                                    <td>  {% if app.user.gender != null %}
                                                            {{app.user.gender.name}}
                                                        {% endif %}
                                                    </td>
                                                    <th>Relation</th>
                                                    <td> {% if app.user.situation != null %}
                                                            {{app.user.situation.name}}
                                                        {% endif %}</td>
                                                </tr>
                                                <tr>
                                                    <th>Je cherche:</th>
                                                    <td>{% if app.user.lookingfor == 1 %}
                                                            Homme
                                                        {% elseif app.user.lookingfor == 2 %}
                                                            Femme
                                                        {% endif %}</td>
                                                    <th>Age:</th>
                                                    <td> {% if app.user.birthday !=null %}
                                                            {% set age = "now"|date('Y') - app.user.birthday|date('Y') %}
                                                            {{ age }} ans
                                                        {% endif %}</td>
                                                </tr>
                                                <tr>
                                                    <th colspan="1">A_propos:</th>
                                                    <td colspan="3"> {{ app.user.description }}</td>

                                                </tr>

                                                <tr>

                                                    <th>Emploi:</th>
                                                    <td>   <ul>
                                                            {% if app.user.profession != null %}
                                                                <li>{{app.user.profession.name}}</li>
                                                            {% endif %}

                                                        </ul>
                                                    </td>
                                                    <th>Formation:</th>
                                                    <td> <ul>
                                                            {% if app.user.etude != null %}
                                                                <li>
                                                                    {{app.user.etude.name}}</li>
                                                            {% endif %}

                                                        </ul></td>
                                                </tr>

                                                <tr>
                                                    <th colspan="1">Langues:</th>
                                                    <td colspan="3">
                                                        {% for langs in langues %}
                                                            {{langs.lang.name}} ,
                                                        {% endfor %}

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th colspan="1">Loisir:</th>
                                                    <td colspan="3">
                                                        {% for loisir in loisirs %}
                                                            {{loisir.loisir.name}} ,
                                                        {% endfor %}

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th colspan="1">Sport:</th>
                                                    <td colspan="3">
                                                        {% for sport in sports %}
                                                            {{sport.sport.name}} ,
                                                        {% endfor %}

                                                    </td>
                                                </tr>
                                                <tr>

                                                    <th>Taille:</th>
                                                    <td>{{app.user.taille}} cm</td>
                                                    <th>Poids:</th>
                                                    <td>{{app.user.poids}} kg</td>
                                                </tr>
                                                <tr>
                                                    <th>Femeur:</th>
                                                    <td>{% if app.user.fumeur != null %}{{app.user.fumeur.name}}{% endif %} </td>
                                                    <th>Alcoolic:</th>
                                                    <td>{% if app.user.alcool != null %}{{app.user.alcool.name}}{% endif %}</td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="hpanel responsive-mg-b-30">
                            <div class="admin-content analysis-progrebar-ctn res-mg-t-30 mg-b-30">
                                <h4 class="text-left text-uppercase"><b>Popularité</b></h4>
                                <div class="row vertical-center-box vertical-center-box-tablet">
                                    <div class="text-left col-xs-3 mar-bot-15">
                                        <label class="label bg-red">15% <i class="fa fa-level-down" aria-hidden="true"></i></label>
                                    </div>
                                    <div class="col-xs-9 cus-gh-hd-pro">
                                        <h2 class="text-right no-margin">5,000</h2>
                                    </div>
                                </div>
                                <div class="progress progress-mini">
                                    <div style="width: 38%;" class="progress-bar progress-bar-danger bg-red"></div>
                                </div>
                            </div>

                        </div>

                        <div class="white-box analytics-info-cs mg-b-30 res-mg-t-30" style="background: #ffffff;">

                            <h3 class="box-title" style="color: #0b0b0b">Cadeaux</h3>
                            <hr/>
                            <ul class="list-inline two-part-sp">
                                {% for cadeau in cadeaux %}
                                    <li>
                                        <div>
                                            <img src="{{ cadeau.cadeau.path }}" style="max-width: 50px"/>
                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
