{% extends 'base.html.twig' %}


{% block title %}LOG-IN{%endblock%}
{%block body %}

    <!--=================================
     inner-intro-->

    <section class="inner-intro bg bg-fixed bg-overlay-black-60" style="background-image:url(images/bg/inner-bg-1.jpg);">
        <div class="container">
            <div class="row intro-title text-center">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1 class="position-relative divider">login <span class="sub-title">login</span></h1>
                    </div>
                </div>
                <div class="col-md-12 mt-7">
                    <ul class="page-breadcrumb">
                        <li><a href="index-default.html"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
                        <li><a href="login.html">Pages</a> <i class="fa fa-angle-double-right"></i></li>
                        <li><span>Login 1</span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!--=================================
     inner-intro-->

    <!--=================================
     login-->

    <section class="login-form login-img dark-bg page-section-ptb100 " style="background: url(images/pattern/04.png) no-repeat 0 0; background-size: cover;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="login-1-form clearfix text-center">
                        <h4 class="title divider-3 text-white">SIGN IN</h4>
                        <div class="login-1-social mt-5 mb-5 text-center clearfix">
                            <ul class="list-inline text-capitalize">
                                <li><a class="fb" href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                                <li><a class="gplus" href="#"><i class="fa fa-google-plus"></i> google+</a></li>
                            </ul>
                        </div>
                        <div class="section-field mb-2">
                            <div class="field-widget"> <i class="glyph-icon flaticon-user"></i>
                                <input id="name" class="web" type="text" placeholder="User name" name="web">
                            </div>
                        </div>
                        <div class="section-field mb-1">
                            <div class="field-widget"> <i class="glyph-icon flaticon-padlock"></i>
                                <input id="Password" class="Password" type="password" placeholder="Password" name="Password">
                            </div>
                        </div>
                        <div class="section-field text-uppercase"> <a href="#" class="float-right text-white">Forgot Password?</a> </div>
                        <div class="clearfix"></div>
                        <div class="section-field text-uppercase text-center mt-2"> <a class="button  btn-lg btn-theme full-rounded animated right-icn"><span>sign in<i class="glyph-icon flaticon-hearts" aria-hidden="true"></i></span></a> </div>
                        <div class="clearfix"></div>
                        <div class="section-field mt-2 text-center text-white">
                            <p class="lead mb-0">Don’t have an account? <a class="text-white" href="register.html"><u>Register now!</u> </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--=================================
     login-->


{%endblock%}