{% extends 'base.html.twig' %}


{% block title %}PROFILE{%endblock%}
{%block body %}
    <style>
        ol, ul {

            list-style-type: circle;
        }
        .profile-cntn img {
           width: 223px;
          height: 204px;
        }
        .owl-carousel .owl-item img {
            width: auto;
            height: 276px;
        }
    </style>
    <section class="inner-intro details-page bg bg-fixed bg-overlay-black-20 position-relative" style="background-image:url(
    {% set i =0 %}
    {% for photo in photos  %}
                                    {% if photo.defaultImg == 0 and i == 0 %}
                                    images/{{ photo.path }}
                                        {% set i =1 %}
                                    {% endif %}
                                {% endfor %}
                                );">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-cntn text-white">
                        <ul>
                            <li>
                                {% for photo in photos %}
                                    {% if photo.defaultImg == 1 %}
                                    <img src="images/{{ photo.path }}" alt="" />
                                    {% endif %}
                                {% endfor %}
                            </li>

                            <li>
                                <div class="profile-text"> <h2>{{app.user.prenom}} {{app.user.nom}}</h2>
                                   {% if app.user.birthday !=null %}
                                       {% set age = "now"|date('Y') - app.user.birthday|date('Y') %}
                                       <h5>{{ age }} ans</h5>
                                   {% endif %}
                                 </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="page-section-ptb grey-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-3 text-center">
                    <h2 class="title divider mb-3">Profil</h2>
                    <p class="mb-0 lead">{{ app.user.description }}</p>
                </div>
            </div>
            <div class="owl-carousel" data-nav-arrow="true" data-items="4" data-md-items="4" data-sm-items="3" data-xx-items="1" data-space="30">
                {% set i =0 %}
                {% for photo in photos %}
                    {% if  i != 1 %}
                        <div class="item">
                                <div class="profile-image clearfix"><img class="img-fluid" src="images/{{ photo.path }}" alt="" /></div>
                        </div>

                    {% endif %}
                    {% set i =i+1 %}
                {% endfor %}

            </div>

            <div class="row">



                    <div class="col-md-12">
                        <a href="{{ path('edit_profile',{'id': app.user.id}) }}" style="float: right;" class="button  btn-lg btn-theme full-rounded animated right-icn"> Modifier vos informations </a>
                     </div>

              <div class="col-md-12">
                    <div class="tab tab-icon clearfix">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li><a href="#tab2-1" aria-selected="true" class="active" data-toggle="tab" aria-expanded="false"><i class="glyph-icon flaticon-blank-user-profile"></i><span>A propos</span></a></li>
                                <li><a href="#tab2-2" data-toggle="tab" aria-expanded="true"><i class="fa fa-graduation-cap"></i><span>Education et Emploi</span></a></li>
                            <li><a href="#tab2-3" data-toggle="tab"><i class="glyph-icon flaticon-favorite"></i><span>Centre d'interêt</span></a></li>
                            <li><a href="#tab2-4" data-toggle="tab"><i class="fa fa-spinner"></i><span>Autres</span></a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="tab2-1">
                                <div class="row">
                                <div class="col-3">
                                    <h4 class="title divider-3 mb-5 sm-mb-3">A propos</h4></div>

                                <div class="col-9">
                                    <br><br>
                                <table class="table table-bordered text-center mb-0">
                                    <tbody>
                                    <tr>
                                        <th>Nom et Prénom</th>
                                        <td>{{app.user.prenom}} {{app.user.nom}}</td>

                                    </tr>
                                    <tr class="tr-bg">
                                        <th>Email</th>
                                        <td>{{app.user.email}}</td>
                                    </tr>
                                    <tr>
                                        <th>Genre</th>
                                        <td>
                                            {% if app.user.gender != null %}
                                                {{app.user.gender.name}}
                                            {% endif %}
                                        </td>
                                    </tr>

                                    <tr class="tr-bg">
                                        <th>Date de naissance</th>
                                        <td>{{app.user.birthday|date('d-m-Y')}}</td>
                                    </tr>
                                    <tr>
                                        <th>Relation</th>
                                        <td>
                                            {% if app.user.situation != null %}
                                                {{app.user.situation.name}}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr class="tr-bg">
                                        <th>Tel</th>
                                        <td>{{app.user.phone}}</td>
                                    </tr>
                                    <tr>
                                        <th>Adresse</th>
                                        <td>{{app.user.adress}}</td>
                                    </tr>
                                    <tr class="tr-bg">
                                        <th>Pays</th>
                                        <td>{{app.user.pays}}</td>
                                    </tr>
                                    <tr>
                                        <th>Ville</th>
                                        <td>{{app.user.ville}}</td>
                                    </tr>
                                    <tr class="tr-bg">
                                        <th>Code postal</th>
                                        <td>{{app.user.zipdcode}}</td>
                                    </tr>

                                    </tbody>
                                </table>
                                </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab2-2">
                                <div class="row">
                                    <div class="col-4">
                                        <h5 class="title divider-3 mb-5 sm-mb-3">Education & Emploi</h5></div>

                                    <div class="col-8">
                                        <br><br>
                                        <h4>Emploi:</h4>
                                        <ul>
                                            {% if app.user.profession != null %}
                                                <li>{{app.user.profession.name}}</li>
                                            {% endif %}

                                        </ul>
                                        <br><br>
                                        <h4>Education :</h4>
                                        <ul>
                                        {% if app.user.etude != null %}
                                            <li>
                                            {{app.user.etude.name}}</li>
                                        {% endif %}

                                        </ul>
                                        <br><br>
                                        <h4>Langues :</h4>
                                        <ul>
                                            {% for langs in langues %}
                                        <li>{{langs.lang.name}} </li>
                                            {% endfor %}

                                        </ul>


                                    </div>
                                </div>


                                    </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab2-3">
                                <div class="row">
                                    <div class="col-4">
                                        <h5 class="title divider-3 mb-5 sm-mb-3">Centre d'interêt</h5></div>

                                    <div class="col-8">
                                        <br><br>
                                        <h4>Interêt :</h4>
                                        <ul>
                                        {% for loisir in loisirs %}
                                            <li>{{loisir.loisir.name}} </li>
                                        {% endfor %}
                                        </ul>
                                        <br><br>
                                        <h4>Sport :</h4>
                                        <ul>
                                        {% for sport in sports %}
                                            <li>{{sport.sport.name}} </li>
                                        {% endfor %}
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab2-4">
                                <div class="row">
                                    <div class="col-3">
                                        <h4 class="title divider-3 mb-5 sm-mb-3">Autres</h4></div>

                                    <div class="col-9">
                                        <br><br>
                                        <table class="table table-bordered text-center mb-0">
                                            <tbody>
                                            <tr>
                                                <th>Caractére</th>
                                                <td>
                                                    {% if app.user.caractere != null %}
                                                        {{app.user.caractere.name}}
                                                    {% endif %}
                                                </td>
                                            </tr>

                                            <tr class="tr-bg">
                                                <th>couleur cheveux</th>
                                                <td> {% if app.user.cheveux != null %}
                                                        {{app.user.cheveux.name}}
                                                    {% endif %} </td>
                                            </tr>
                                            <tr>
                                                <th>Longeur</th>
                                                <td>{{app.user.taille}} m</td>
                                            </tr>
                                            <tr class="tr-bg">
                                                <th>Poids</th>
                                                <td>{{app.user.poids}} kg</td>
                                            </tr>
                                            <tr>
                                                <th>Religion</th>
                                                <td> {% if app.user.religion != null %}{{app.user.religion.name}}{% endif %} </td>
                                            </tr>
                                            <tr class="tr-bg">
                                                <th>Fumeur</th>
                                                <td> {% if app.user.fumeur != null %}{{app.user.fumeur.name}}{% endif %} </td>
                                            </tr>
                                            <tr>
                                                <th>Alcoolic</th>
                                                <td> {% if app.user.alcool != null %}{{app.user.alcool.name}}{% endif %} </td>
                                            </tr>
                                            <tr class="tr-bg">
                                                <th>Cherche</th>
                                                <td>
                                                    {% if app.user.lookingfor == 1 %}
                                                        Men
                                                    {% elseif app.user.lookingfor == 2 %}
                                                        Women
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Ville Prefère</th>
                                                <td>
                                                    {% for pay in upays %}
                                                        {{pay.pays.name}} ,
                                                    {% endfor %}
                                                </td>
                                            </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




{%endblock%}