{% extends 'base.html.twig' %}


{% block title %}Personality{%endblock%}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/bootstrap-slider.min.css') }}"/>
        <link rel="stylesheet" href="https://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.css"/>
        <link rel="stylesheet" href="https://bootstrap-tagsinput.github.io/bootstrap-tagsinput/examples/assets/app.css"/>

    {%endblock%}

{%block body %}
    <!--=================================
 inner-intro-->

    <section class="inner-intro bg bg-fixed bg-overlay-black-60" style="background-image:url(http://hintergrundbild.org/wallpaper/full/8/0/9/51232-full-size-hintergrundbilder-full-hd-fuer-windows-10-2560x1440-fuer-windows.jpg);">
        <div class="container">
            <div class="row intro-title text-center">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1 class="position-relative divider">Compléter Votre Profil <span class="sub-title"></span></h1>
                    </div>
                </div>
                <div class="col-md-12 mt-7">
                    <ul class="page-breadcrumb">
                        <li><a href="index-default.html"><i class="fa fa-home"></i> Accueil</a> <i class="fa fa-angle-double-right"></i></li>
                        <li><span>S'inscrire'</span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!--=================================
     inner-intro-->

    <!--=================================
     steps-->

    <section class="page-section-ptb text-white" style="background: url(../images/pattern/04.png) no-repeat 0 0; background-size: cover;">
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-md-8">
                    <div class="step-form">
                        <div class="stepwizard">
                            <div class="stepwizard-row setup-panel">
                                <div class="stepwizard-step-custom"> <a href="#step-1" class="btn btn-circle">1 <span><i class="fa fa-check" aria-hidden="true"></i></span></a>
                                    <p>Photo</p>
                                </div>
                                <div class="stepwizard-step-custom"> <a href="#step-2" class="btn btn-circle" disabled="disabled">2 <span><i class="fa fa-check" aria-hidden="true"></i></span></a>
                                    <p>A propos</p>
                                </div>
                                <div class="stepwizard-step-custom"> <a href="#step-3" class="btn btn-circle" disabled="disabled">3 <span><i class="fa fa-check" aria-hidden="true"></i></span></a>
                                    <p>A propos</p>
                                </div>
                                <div class="stepwizard-step-custom"> <a href="#step-4" class="btn btn-circle" disabled="disabled">4 <span><i class="fa fa-check" aria-hidden="true"></i></span></a>
                                    <p>preferences</p>
                                </div>
                            </div>
                        </div>
                        <form method="post" class="text-center mt-3" id="steps_form">
                            <div class="row  justify-content-center setup-content" id="step-1">
                                <div class="col-md-10">
                                    <h4 class="title divider-3 mb-5">Photo</h4>
                                    <div class="row  justify-content-center">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-8 pr-15">
                                                        <label for="file-input-1" style="color: white">
                                                            <img class="img-center file-img" src="{{ asset('images/step/01.png') }}" alt="">
                                                           <br> Photo de profile
                                                        </label>
                                                        <input type="file" id="file-input-1" style="display: none;">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="row sm-mt-3 ">
                                                            <div class="col-md-12 mb-3 sm-mb-2">
                                                                <label for="file-input-2" style="color: white">
                                                                    <img class="img-center file-img" src="{{ asset('images/step/02.png') }}" alt="">
                                                                    photo coverture
                                                                </label>
                                                                <input type="file" id="file-input-2" style="display: none;">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12 mt-2">
                                                                <label for="file-input-3">
                                                                    <img class="img-center file-img" src="{{ asset('images/step/03.png') }}" alt="">
                                                                </label>
                                                                <input type="file" id="file-input-3" style="display: none;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-4">
                                                    <div class="col-md-4">
                                                        <label for="file-input-4">
                                                            <img class="img-center file-img" src="{{ asset('images/step/04.png') }}" alt="">
                                                        </label>
                                                        <input type="file" id="file-input-4" style="display: none;">
                                                    </div>
                                                    <div class="col-md-4 sm-mt-3">
                                                        <label for="file-input-5">
                                                            <img class="img-center file-img" src="{{ asset('images/step/05.png') }}" alt="">
                                                        </label>
                                                        <input type="file" id="file-input-5" style="display: none;">
                                                    </div>
                                                    <div class="col-md-4 sm-mt-3">
                                                        <label for="file-input-6">
                                                            <img class="img-center file-img" src="{{ asset('images/step/06.png') }}" alt="">
                                                        </label>
                                                        <input type="file" id="file-input-6" style="display: none;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group d-none">
                                                <div class="step-social mt-3 mb-2 text-center clearfix">
                                                    <ul class="list-inline text-capitalize">
                                                        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i>import</a></li>
                                                        <li><a href="#"><i class="fa fa-file-image-o" aria-hidden="true"></i> import</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="profile-info">
                                            <p class="mb-0"><i class="fa fa-info-circle" aria-hidden="true"></i> uploader jusqu'a 6 photos</p>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0"> <a class="button btn-theme full-rounded btn nextBtn btn-lg mt-2 animated right-icn"><span>Suivant<i class="glyph-icon flaticon-hearts" aria-hidden="true"></i></span></a> </div>
                                </div>
                            </div>
                            <div class="row setup-content" id="step-2">
                                <div class="col-md-12">
                                    <div class="row  justify-content-center">
                                        <div class="col-md-8 text-left text-capitalize text-white">
                                            <div class="form-group mb-0">

                                                <div class="form-group sm-mt-2">
                                                    <label class="title divider-3 mb-3">A propos</label>
                                                    <textarea class="form-control" rows="3" name="aboutme"></textarea>
                                                </div>
                                                <div class="form-group sm-mt-2">
                                                    <label class="title divider-3 mb-3">Date de naissance</label>
                                                    <input type="date" name="dateofbirth" id="dateofbirth" class="birthdate">
                                                </div>
                                                <div class="form-group">
                                                    <label class="title divider-3 mb-3">Adresse</label>
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="field-widget"> <i class="fa fa-map-marker-alt"></i>
                                                                <input class="form-control form-control-register placeholder" id="adress" name="adress" type="text" placeholder="Votre adresse" style="width: width: 65%;">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="field-widget"> <i class="fa fa-map-marker-alt"></i>
                                                                <input class="form-control form-control-register placeholder" id="city" name="city" type="text" placeholder="Votre ville">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="field-widget"> <i class="fa fa-map-marker-alt"></i>
                                                                <select  id="pays" name="pay" class="form-control form-control-register">
                                                                    <option  selected="selected">choisir votre pays </option>

                                                                    {% for item in pays %}
                                                                        <option value="{{ item.id }}">{{ item.name }}</option>
                                                                    {% endfor %}


                                                                </select>
                                                             </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <div class="field-widget"> <i class="fa fa-map-marker-alt"></i>
                                                                <input class="form-control form-control-register placeholder" id="zipcode" name="zipcode" type="text" placeholder="code postal">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group sm-mt-2">
                                                            <label class="title divider-3 mb-6">Longeur</label>
                                                            <div>
                                                                <input id="height1" class="range-slider" data-slider-id="heightSlider1" name="taille" type="text" data-slider-min="130" data-slider-max="250" data-slider-step="1" data-slider-value="170"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group sm-mt-2">
                                                            <label class="title divider-3 mb-6">Poids</label>
                                                            <div>
                                                                <input id="weight1" class="range-slider" data-slider-id="weightSlider1" name="poid" type="text" data-slider-min="30" data-slider-max="150" data-slider-step="1" data-slider-value="45"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group text-center mb-0"> <a class="button btn-theme full-rounded btn nextBtn btn-lg mt-2 animated right-icn"><span>Suivant<i class="glyph-icon flaticon-hearts" aria-hidden="true"></i></span></a> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row setup-content" id="step-3">
                                <div class="col-md-12">
                                    <div class="row  justify-content-center">
                                        <div class="col-md-8 text-left text-capitalize text-white">
                                            <div class="form-group mb-0">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label class="title divider-3 mb-3">Situation</label>
                                                        <select name="situation" class="form-control form-control-register">

                                                            {% for item in situation %}
                                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="title divider-3 mb-3">Religion</label>
                                                        <select name="religion" class="form-control form-control-register">

                                                            {% for item in religion %}
                                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="title divider-3 mb-3">Alcool</label>
                                                        <select name="alcool" class="form-control form-control-register">

                                                            {% for item in alcool %}
                                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="title divider-3 mb-3">Caractere</label>
                                                        <select name="caractere" class="form-control form-control-register">

                                                            {% for item in caractere %}
                                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="title divider-3 mb-3">Cheveux</label>
                                                        <select name="cheveux" class="form-control form-control-register">

                                                            {% for item in cheveux %}
                                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="title divider-3 mb-3">Fumeur</label>
                                                        <select name="fumer" class="form-control form-control-register">

                                                            {% for item in fumer %}
                                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6 ">
                                                        <label class="title divider-3 mb-3">Etude</label>
                                                        <select name="etude" class="form-control form-control-register">

                                                            {% for item in etude %}
                                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6 ">
                                                        <label class="title divider-3 mb-3">Profession</label>
                                                        <select name="profession" class="form-control form-control-register">

                                                            {% for item in profession %}
                                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label class="title divider-3 mb-3">Sport</label>
                                                        <input type="text" id="tag-sport" class="form-control form-control-register" />
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label class="title divider-3 mb-3">Loisir</label>
                                                        <input type="text" id="tag-loisir" class="form-control form-control-register" />
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label class="title divider-3 mb-3">Langues</label>
                                                        <input type="text" id="tag-lang" class="form-control form-control-register" />
                                                    </div>


                                                </div>


                                                <div class="form-group text-center mb-0"> <a class="button btn-theme full-rounded btn nextBtn btn-lg mt-2 animated right-icn"><span>Suivant<i class="glyph-icon flaticon-hearts" aria-hidden="true"></i></span></a> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row setup-content" id="step-4">
                                <div class="col-md-12">
                                    <div class="row  justify-content-center">
                                        <div class="col-md-8 text-left text-capitalize text-white">
                                            <div class="form-group mb-0">
                                                <label class="title divider-3 mb-3">Cherche</label>
                                                <div class="row sm-mt-2">
                                                    {% set i = 0 %}
                                                    {% for GD in gender %}
                                                        <div class="col-md-4 {% if i>0 %}sm-mt-2{% endif %}">
                                                            <div class="radio">
                                                                <input name="lookingfor" value="{{ GD.id }}" {% if i == 0 %} checked="checked" {% endif %}
                                                                       id="radio{{ i }}" type="radio">
                                                                <label for="radio{{ i }}">{{ GD.name }}</label>
                                                            </div>
                                                        </div>
                                                        {% set i =i + 1 %}
                                                    {% endfor %}
                                                </div>
                                                <div class="form-group sm-mt-2">
                                                    <label class="title divider-3 mb-6">Age preference</label>
                                                    <div>
                                                        <input id="agemin" class="range-slider" data-slider-id="ex1Slider1" type="text" data-slider-min="0" data-slider-max="30" data-slider-step="1" data-slider-value="18"/>
                                                        <input id="agemax" class="range-slider" data-slider-id="ex1Slider2" type="text" data-slider-min="30" data-slider-max="100" data-slider-step="1" data-slider-value="30"/>
                                                    </div>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <label class="title divider-3 mb-6">Ville prefère</label>
                                                    <input type="text" id="tag-pays" class="form-control form-control-register" />
                                                </div>
                                                <div class="form-group text-center">
                                                    <div class="profile-info">
                                                        <p class="mb-0"><i class="fa fa-info-circle" aria-hidden="true"></i> by clicking submit you are agreeing to our terms and conditions of use.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-0 text-center" id="submit_register"> <a class="button btn-theme full-rounded btn btn-lg mt-2 animated right-icn"><span>Envoyer<i class="glyph-icon flaticon-hearts" aria-hidden="true"></i></span></a> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--=================================
     steps-->

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/bootstrap-slider.min.js') }}"></script>
    <script src="https://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>

    <script>
        window.files = [];
        $(function() {
            $("input:file").change(function (){
                var input = this;
                var fileName = $(this).val();
                console.log(fileName)
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    window.files.push($(this)[0].files[0])
                    reader.onload = function(e) {
                        console.log($(input).parent().find("img"))
                        $(input).parent().find("img").attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            });
        });

        data_sport = JSON.parse({{ sport_data|json_encode|raw   }});
        data_loisir = JSON.parse({{ loisir_data|json_encode|raw   }});
        data_lang = JSON.parse({{ langues_data|json_encode|raw   }});
        data_pays = JSON.parse({{ pays_data|json_encode|raw   }});

        inittagsinput("#tag-sport", data_sport);
        inittagsinput("#tag-loisir", data_loisir);
        inittagsinput("#tag-lang", data_lang);
        inittagsinput("#tag-pays", data_pays);

        function inittagsinput(inputID, data_sport){
            var array_sport = [];
            for(var item in data_sport) {
                var obj = {};
                obj.value = data_sport[item].id;
                obj.text = data_sport[item].name;
                obj.continent = data_sport[item].name;
                array_sport.push(obj);
            }

            //get data pass to json
            var task = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace("text"),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                local: array_sport //your can use json type
            });

            task.initialize();

            var elt = $(inputID);
            elt.tagsinput({
                itemValue: "value",
                itemText: "text",
                maxTags: 3,
                typeaheadjs: {
                    name: "task",
                    displayKey: "text",
                    source: task.ttAdapter()
                }
            });
        }

        //insert data to input in load page
       /* elt.tagsinput("add", {
            value: 1,
            text: "task 1",
            continent: "task"
        });*/


        $("#submit_register").on("click", function(e){
            e.stopPropagation();
            e.preventDefault();
            var email = "{{ email }}";

            var data = new FormData();
            data.append("user_mail", email);
            var weight = $("#weight1").val();
            var height = $("#height1").val();
            console.log(weight);


            var sport = $("#tag-sport").tagsinput('items')
            var loisir = $("#tag-loisir").tagsinput('items')
            var lang = $("#tag-lang").tagsinput('items')
            var pays = $("#tag-pays").tagsinput('items')

            var agemin = $("#agemin").val();
            var agemax = $("#agemax").val();
            var dismin = $("#dismin").val();
            var dismax = $("#dismax").val();

            data.append("sport", JSON.stringify(sport))
            data.append("loisir", JSON.stringify(loisir))
            data.append("lang", JSON.stringify(lang))
            data.append("pays", JSON.stringify(pays))
            data.append("agemin", agemin)
            data.append("agemax", agemax)
            data.append("dismin", dismin)
            data.append("dismax", dismax)

            var form = $("#steps_form").serializeArray();
            console.log(form);
            console.log("successsss")


            $("input[type=file]").each(function(e, field){
                data.append(e, $(field)[0].files[0]);
            })

            for (var i in form){
                //console.log(i)
                var item = form[i];
                data.append(item["name"], item["value"])
            }

            /*data.append("aboutme", $("#aboutme").val())
            data.append("birthdate", $("#dateofbirth").val())
            data.append("adress", $("#adress").val())
            data.append("pays", $("#pays").val())
            data.append("city", $("#city").val())
            data.append("zipcode", $("#zipcode").val())
            data.append("height", $("#height1").val())
            data.append("weight", $("#weight1").val())
            data.append("adress", $("#adress").val())*/

            for (var pair of data.entries()) {
                console.log(pair[0]+ ', ' + pair[1]);
            }

            $.ajax({
                url: "{{ path('personality_ajax') }}",
                type: 'POST',
                data: data,
                cache: false,
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function(data)
                {
                    console.log(data);
                    console.log("-*-*-*-*-*-*-*-*-*-*-*")
                    if(data.result == "success"){
                        window.location.href = "{{ path('abonnement_gratuit') }}"
                    }
                    return false
                },
                error: function(jqXHR, textStatus, errorThrown)
                {
            // Handle errors here
                    console.log('ERRORS: ' + textStatus);
            // STOP LOADING SPINNER
                }
            });


        })



    </script>
{% endblock %}