{% extends 'base.html.twig' %}


{% block title %}SIGN-UP{%endblock%}
{%block body %}


    <!--=================================
 inner-intro-->

    <section class="inner-intro bg bg-fixed bg-overlay-black-60" style="background-image:url(http://hintergrundbild.org/wallpaper/full/8/0/9/51232-full-size-hintergrundbilder-full-hd-fuer-windows-10-2560x1440-fuer-windows.jpg);">
        <div class="container">
            <div class="row intro-title text-center">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1 class="position-relative divider"><span class="sub-title w-100">S'inscrire</span></h1>
                    </div>
                </div>
                <div class="col-md-12 mt-7">
                    <ul class="page-breadcrumb">
                        <li><a href=""><i class="fa fa-home"></i> Accueil</a> <i class="fa fa-angle-double-right"></i></li>

                        <li><span>s'inscrire</span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
  <!--=================================

    <!--================================= register-->

    <section class="login-form register-img dark-bg page-section-ptb"
             style="background: url(images/pattern/04.png) no-repeat 0 0; background-size: cover;">
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-md-6">
                    <form method="post" id="register_form" action="{{ path('user_registration_ajax') }}">
                        <div class="login-1-form register-1-form clearfix text-center">
                            <h4 class="title divider-3 text-white mb-3">S'INSCRIRE</h4>
                            <div class="section-field ">
                                <div class="col-md-8 text-left text-capitalize text-white" style="padding-left: 0;">
                                    <div class="form-group mb-0">

                                        <div class="row sm-mt-2">
                                            {% set i = 0 %}
                                            {% for GD in gender %}
                                                <div class="col-md-4 {% if i>0 %}sm-mt-2{% endif %}">
                                                    <div class="radio">
                                                        <input name="gender" value="{{ GD.id }}" {% if i == 0 %} checked="checked" {% endif %}
                                                               id="radio{{ i }}" type="radio">
                                                        <label for="radio{{ i }}">{{ GD.name }}</label>
                                                    </div>
                                                </div>
                                            {% set i =i + 1 %}
                                            {% endfor %}

                                        </div>
                                        <label class="title divider-3 "></label>
                                    </div>
                                </div>
                            </div>
                            <div class="section-field mb-3">
                                <div class="field-widget"> <i class="glyph-icon flaticon-user"></i>
                                    <input id="Firstname" name="Firstname" type="text" placeholder="Votre Nom" required>
                                </div>
                            </div>
                            <div class="section-field mb-3">
                                <div class="field-widget"> <i class="glyph-icon flaticon-user"></i>
                                    <input id="Lastname" name="Lastname" type="text" placeholder="Votre Prénom" required>
                                </div>
                            </div>
                            <div class="section-field mb-3">
                                <div class="field-widget"> <i class="glyph-icon flaticon-user"></i>
                                    <input id="pseudo" name="pseudo" type="text" placeholder="Pseudo" required>
                                </div>
                            </div>
                            <div class="section-field mb-3">
                                <div class="field-widget"> <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <input id="email" class="email" type="email" placeholder="Email" name="email" required>
                                </div>
                            </div>
                            <div class="section-field mb-3">
                                <div class="field-widget"> <i class="glyph-icon flaticon-padlock"></i>
                                    <input id="Password" class="Password" type="password" placeholder="Mot de passe"
                                           required name="Password">
                                </div>
                            </div>
                            <div class="section-field mb-3">
                                <div class="field-widget"> <i class="glyph-icon flaticon-padlock"></i>
                                    <input id="ConfirmPassword" class="Password" type="password" required
                                           placeholder="Confirmation mot de passe" name="PasswordConfirm">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="section-field text-uppercase text-center mt-2">
                                <button type="submit" style="background: none; border: none;">
                                <a class="button  btn-lg btn-theme full-rounded animated right-icn">
                                    <span>suivant<i class="glyph-icon flaticon-hearts" aria-hidden="true"></i></span>
                                </a>
                                </button>
                            </div>
                            <div class="clearfix"></div>
                            <div class="section-field mt-2 text-center text-white">
                                <p class="lead mb-0">Vous avez déja un compte ? <br><a class="text-white" href="{{ path('user_login') }}"><u>Se connecter!</u> </a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!--=================================
     register-->


{%endblock%}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/registration_custom.js') }}"></script>
{% endblock %}